<div class="modal-header ">
  <h4 class="modal-title"></h4>
  <h4 class="modal-title"></h4>
  <button type="button" class="btn-close" (click)="activeModal.close(false)"></button>
</div>



<div mat-dialog-title class="pl-2 pr-2" style="overflow-y: scroll; max-height: 700px;">

  <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
   
       <p>
        <mat-checkbox  (change)="toggle($event)" [checked]="(roleFull.permissions.indexOf(node.claimValue)>-1?true:false)">
          {{node.name}}
        </mat-checkbox>
      </p>  

 

    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree> -->


  <table class="yks_table_group">
    <tbody>
      <tr>
        <td class="yks_td_label"></td>
        <td style="width: 100%; "></td>
      </tr>



      <tr class="table_row_group">
        <td class="yks_td_label" style="border-left: #000000; text-align: end; ">

          <label style=" min-width: 100px; font-weight: 600; font-size: 13px;">Rol Adı
            :

          </label>
        </td>

        <td style="width: 100%;" class="table_row_group">

          <label style=" min-width: 150px; font-weight: 600; font-size: 13px; color: #666666; display: flex;">
            {{role.name}}

            <span style="margin-left: 1rem;"></span>
          </label>

        </td>
      </tr>
      <tr class="table_row_group">
        <td class="yks_td_label" style="border-left: #000000; text-align: end; ">

          <label style=" min-width: 100px; font-weight: 600; font-size: 13px;">Description
            :

          </label>
        </td>

        <td style="width: 100%;" class="table_row_group">

          <label style=" min-width: 150px; font-weight: 600; font-size: 13px; color: #666666; display: flex;">
            {{role.description}}

            <span style="margin-left: 1rem;"></span>
          </label>

        </td>
      </tr>






    </tbody>
  </table>

  <p-table [value]="listEndpoint" dataKey="name">

    <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
            <td style="width: 3rem;">
                <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="max-width: 100px;">{{product.name}}</td>

        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="7">
                <div class="p-p-3">
                    <p-table [value]="product.actions" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                <th style="width: 4rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{order.actionType}}</td>
                                <td>{{order.httpType}}</td>
                                <td>{{order.claimValue}}</td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no order for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

</div>





<div class="modal-footer">
  <button type="button" class="btn btn-success"
    style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
    <i class="fa fa-plus" style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
    <span class="d-none d-sm-inline" style="font-size: 13px;">Kaydet</span>
  </button>
  <button type="button" class="btn " (click)="activeModal.close(false)"
    style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
    <i class="fa fa-times" style="color: #000; margin-right: 5px; font-weight: 600;"></i>
    <span class="d-none d-sm-inline" style="font-size: 13px;">Vazgeç</span>
  </button>
</div>