
<div class="demo-container" style="position: relative;">
    <div class=" yks-filemanager" style="height: 791px;">

        <div class=" yks-drawer">
            <div class="yks-drawer-wrapper">
                <div class="yks-drawer-content deneme"
                    style="transform: translate(0px, 0px); padding: 0px; left: 0px; ">

                    <div class="yks-filemanager-notification-drawer-panel">

                        <div class="yks-filemanager-wrapper">


                            <div class="yks_control_panel">
                                <div class="yks_cpanel_top">
                                    <div class="yks_cpanel_top_left">
                                        <div>
                                            <div class=" yks-toolbar-item ">
                                                <div class="yks-button-has-text"
                                                    style=" font-size: 18px; font-weight: 500; color: #66598f;">
                                                    

                                                    <a class="title-router"
                                                        [routerLink]="['/pages/uretim-emri/uretim-emri']">İş Merkezleri</a>
                                                    <span style="margin: 0 5px;">/</span>
                                                    <a class="title-router"
                                                        [routerLink]="['/pages/uretim-emri/detail-uretim-emri']">{{stateData.stokAdi}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="yks_cpanel_top_right"></div>
                                </div>
                            </div>
                            <div class="yks_control_panel">
                                <div class="yks_cpanel_top">
                                    <div class="yks_cpanel_top_left">
                                        <div>


                                            <div class=" yks-toolbar-item ">


                                                <div class="yks-button-has-text">
                                                    <ul class="yks-menu-items-container"
                                                        style="    display: flex; align-items: center; justify-content: center;">

                                                        <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                            <div class=" yks-menu-item-content">


                                                                <button (click)="duzenle()" type="button"
                                                                    class="btn btn-success"
                                                                    style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
                                                                    <i class="fa fa-pencil"
                                                                        style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
                                                                    <span class="d-none d-sm-inline"
                                                                        style="font-size: 13px;">Düzenle</span>
                                                                </button>

                                                            </div>

                                                        </li>
                                                        <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                            <div class=" yks-menu-item-content">


                                                                <button type="button" class="btn "
                                                                    routerLink="/pages/uretim-emri/create-uretim-emri"
                                                                    style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
                                                                    <i class="fa fa-plus"
                                                                        style=" margin-right: 5px; font-weight: 700;"></i>
                                                                    <span class="d-none d-sm-inline"
                                                                        style="font-size: 13px;">Oluştur</span>
                                                                </button>

                                                            </div>

                                                        </li>


                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="yks_cpanel_top_right" style="display: flex; justify-content: end;">


                                    </div>
                                </div>




                            </div>



                            <div class="yks-filemanager-container">
                                <div class="yks-drawer">
                                    <div class="yks-drawer-wrapper">
                                        <div id="filter_menu"
                                            class="yks-drawer-panel-content yks-drawer-panel-content-initial"
                                            style="margin-left: 0px; display: none; border: 1px solid #c1c1c1;">
                                        </div>
                                        <div class="yks-drawer-content" style="padding: 0px;">
                                            <div class=" yks-filemanager-breadcrumbs"></div>

                                            <div class="card m-5"
                                                style="box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;">


                                                <div class="yks_button_box yks_not_full" style="width: 140px;">

                                                    <button class="btn yks_stat_button">
                                                        <i class="fa fa-fw yks_button_icon fa-list-ul"></i>
                                                        <div class="yks_field_widget yks_stat_info">
                                                            <span class="yks_stat_value">
                                                                <span>0</span>
                                                            </span>
                                                            <span class="yks_title_value">Extra Fiyatlar</span>

                                                        </div>
                                                    </button>
                                                    <button class="btn yks_stat_button">
                                                        <i class="fa fa-fw yks_button_icon fa-list-ul"></i>
                                                        <div class="yks_field_widget yks_stat_info">
                                                            <span class="yks_stat_value">
                                                                <span>0</span>
                                                            </span>
                                                            <span class="yks_title_value">Extra Fiyatlar</span>

                                                        </div>
                                                    </button>

                                                </div>


                                                <div class="grid">
                                                    <div class="col-12 lg:col-6 xl:col-6 pl-4">
                                                        <table class="yks_table_group">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="yks_td_label"></td>
                                                                    <td style="width: 100%; "></td>
                                                                </tr>


                                                                <tr class="table_row_group">
                                                                    <td class="yks_td_label"
                                                                        style="border-left: #000000;">

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Ürün
                                                                        </label>
                                                                    </td>

                                                                    <td style="width: 100%;"
                                                                        class="table_row_group">
                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                            {{stateData.stokAdi}}
                                                                        </label>
                                                                    </td>

                                                                </tr>

                                                                <tr class="table_row_group">
                                                                    <td class="yks_td_label"
                                                                        style="border-left: #000000;">

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Miktar
                                                                        </label>
                                                                    </td>

                                                                    <td style="width: 100%;"
                                                                        class="table_row_group">
                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                           {{stateData.miktar}}
                                                                        </label>
                                                                    </td>

                                                                </tr>


                                                                <tr class="table_row_group">
                                                                    <td class="yks_td_label"
                                                                        style="border-left: #000000;">

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Ürün Reçetesi
                                                                        </label>
                                                                    </td>

                                                                    <td style="width: 100%;"
                                                                        class="table_row_group">
                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                        
                                                                                {{stateData.urunReceteId?stateData.urunReceteAdi:""}}
                                                                    
                                                                          
                                                                        </label>
                                                                    </td>

                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                    </div>


                                                    <div class="col-12 lg:col-6 xl:col-6 pl-4 pr-4">

                                                        <table class="yks_table_group ">
                                                            <tbody>


                                                                <tr class="table_row_group">
                                                                    <td class="yks_td_label"
                                                                        style="border-left: #000000;">

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Planlanan Tarih
                                                                        </label>
                                                                    </td>
                                                                    <td>

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                            {{stateData.planlananTarih?stateData.planlananTarih:'null'}}
                                                                        </label>
                                                                    </td>

                                                                </tr>
                                                                <tr class="table_row_group">
                                                                    <td class="yks_td_label"
                                                                        style="border-left: #000000;">

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Sorumlu
                                                                        </label>
                                                                    </td>
                                                                    <td>

                                                                        <label
                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                            {{stateData.sorumlu?stateData.sorumlu:'null'}}
                                                                        </label>

                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>





                                                </div>

                                                <div>

                                                    <tab-main>
                                                        <tab-item [tabTitle]="'Bileşenler'">

                                                            <div class="grid">
                                                                <div class="col-12 pl-4">

                                                                    <ag-grid-angular
                                                                        style="width: 100%;min-height: 315px; height:100%;"
                                                                        class="ag-theme-quartz" [rowData]="rowData"
                                                                        [columnDefs]="colDefs"
                                                                        [rowSelection]="rowSelection"
                                                                        [rowHeight]="30" [headerHeight]="29"
                                                                        [components]="frameworkComponents">
                                                                    </ag-grid-angular>


                                                                </div>




                                                                

                                                            </div>






                                                        </tab-item>
                                                        <tab-item tabTitle="Operasyonlar">
                                                            <div class="grid">
                                                                <div class="col-12 pl-4" style="padding-right: 23px;">


                                                            
                                                                     <ag-grid-angular
                                                                        style="width: 100%;min-height: 315px; height:100%; margin-top: 4px;"
                                                                        class="ag-theme-quartz"
                                                                        [rowData]="rowData2"
                                                                        [columnDefs]="colDefs2"
                                                                        [rowSelection]="rowSelection"
                                                                        [rowHeight]="30" [headerHeight]="29"
                                                                        [components]="frameworkComponents"
                                                                        >
                                                                    </ag-grid-angular>  

                                                                  


                                                                </div>




                                                                
                
                                                            </div>
                                                        </tab-item>
                                                    </tab-main>






                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

