<form [formGroup]="frm">
    <div class="demo-container" style="position: relative;">
        <div class=" yks-filemanager" style="height: 791px;">

            <div class=" yks-drawer">
                <div class="yks-drawer-wrapper">
                    <div class="yks-drawer-content deneme"
                        style="transform: translate(0px, 0px); padding: 0px; left: 0px; ">

                        <div class="yks-filemanager-notification-drawer-panel">

                            <div class="yks-filemanager-wrapper">


                                <div class="yks_control_panel">
                                    <div class="yks_cpanel_top">
                                        <div class="yks_cpanel_top_left">
                                            <div>
                                                <div class=" yks-toolbar-item ">
                                                    <div class="yks-button-has-text"
                                                       >
                                                        <a class="title-router"
                                                        [routerLink]="['/pages/stok/stok']">Stoklar</a>
                                                    <span style="margin: 0 5px;">/</span>
                                                    <a class="title-router">{{stateData.ad}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="yks_cpanel_top_right"></div>
                                    </div>
                                </div>
                                <div class="yks_control_panel">
                                    <div class="yks_cpanel_top">
                                        <div class="yks_cpanel_top_left">
                                            <div>


                                                <div class=" yks-toolbar-item ">


                                                    <div class="yks-button-has-text">
                                                        <ul class="yks-menu-items-container"
                                                            style="    display: flex; align-items: center; justify-content: center;">

                                                            <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                                <div class=" yks-menu-item-content">


                                                                    <button (click)="updateStok()" type="button"
                                                                        class="btn btn-success"
                                                                        style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
                                                                        <i class="fa fa-check"
                                                                            style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
                                                                        <span class="d-none d-sm-inline"
                                                                            style="font-size: 13px;">Kaydet</span>
                                                                    </button>

                                                                </div>

                                                            </li>
                                                            <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                                <div class=" yks-menu-item-content">


                                                                    <button type="button" class="btn " (click)="vazgec()"
                                                                       
                                                                        style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
                                                                        <i class="fa fa-times"
                                                                            style="color: #000; margin-right: 5px; font-weight: 600;"></i>
                                                                        <span class="d-none d-sm-inline"
                                                                            style="font-size: 13px;">Vazgeç</span>
                                                                    </button>

                                                                </div>

                                                            </li>


                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="yks_cpanel_top_right" style="display: flex; justify-content: end;">


                                        </div>
                                    </div>




                                </div>



                                <div class="yks-filemanager-container">
                                    <div class="yks-drawer">
                                        <div class="yks-drawer-wrapper">
                                            <div id="filter_menu"
                                                class="yks-drawer-panel-content yks-drawer-panel-content-initial"
                                                style="margin-left: 0px; display: none; border: 1px solid #c1c1c1;">
                                            </div>
                                            <div class="yks-drawer-content" style="padding: 0px;">
                                                <div class=" yks-filemanager-breadcrumbs"></div>

                                                <div class="card m-5"
                                                    style="box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;">


                                                    <div class="yks_button_box yks_not_full" style="width: 140px;">

                                                        <!-- <button class="btn yks_stat_button">
                                                            <i class="fa fa-fw yks_button_icon fa-list-ul"></i>
                                                            <div class="yks_field_widget yks_stat_info">
                                                                <span class="yks_stat_value">
                                                                    <span>0</span>
                                                                </span>
                                                                <span class="yks_title_value">Extra Fiyatlar</span>

                                                            </div>
                                                        </button>
                                                        <button class="btn yks_stat_button">
                                                            <i class="fa fa-fw yks_button_icon fa-list-ul"></i>
                                                            <div class="yks_field_widget yks_stat_info">
                                                                <span class="yks_stat_value">
                                                                    <span>0</span>
                                                                </span>
                                                                <span class="yks_title_value">Extra Fiyatlar</span>

                                                            </div>
                                                        </button> -->

                                                    </div>


                                                    <div class="pane" style="padding: 1em;">
                                                        <div class="grid">
                                                            <div class="col-12 lg:col-6 xl:col-6 pl-4">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <span
                                                                                    style="font-weight: 600; font-size: 13px;">
                                                                                    Stok Adı </span>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span
                                                                                    style="font-weight: 600; font-size: 18px; display: flex;justify-content: center;align-items: center;">
                                                                                    <i class="fa fa-star" 
                                                                                        style="color: #f3cc00; font-size: 22px; display: inline-block;"></i>
                                                                                    <input formControlName="ad"
                                                                                        style="border: 1px solid  rgb(145, 145, 243) ;margin-left: 10px; border-radius: 5px; max-width: 50%; min-width: 300px; background-color: rgb(210, 210, 255);"
                                                                                        type="text"
                                                                                        class="form-control shadow-none"
                                                                                        id="exampleFormControlInput1"
                                                                                        placeholder="Ad giriniz..." [(ngModel)]="stateData.ad">

                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div >

                                                        <tab-main>
                                                            <tab-item [tabTitle]="'Genel Bilgiler'">

                                                                <div class="grid">
                                                                    <div class="col-12 lg:col-6 xl:col-6 pl-4">
                                                                        <table class="yks_table_group">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="yks_td_label"></td>
                                                                                    <td style="width: 100%; "></td>
                                                                                </tr>


                                                                                <tr class="table_row_group">
                                                                                    <td class="yks_td_label"
                                                                                        style="border-left: #000000;">

                                                                                        <label
                                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Stok
                                                                                            Kodu
                                                                                        </label>
                                                                                    </td>

                                                                                    <td style="width: 100%;"
                                                                                        class="table_row_group">
                                                                                        <input formControlName="kod"
                                                                                            style=" padding: 0px 0 0px 0.75rem;
                                                                                        font-size: 13px;
                                                                                        border-radius: 1px;
                                                                                        background-color: rgb(210, 210, 255) !important;
                                                                                        border: 1px solid rgb(145, 145, 243);"
                                                                                            type="text"
                                                                                            class="form-control shadow-none"
                                                                                            id="exampleFormControlInput1" [(ngModel)]="stateData.kod">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="table_row_group">
                                                                                    <td class="yks_td_label"
                                                                                        style="border-left: #000000;">
    
                                                                                      
                                                                                    </td>
    
                                                                                    <td style="width: 100%;"
                                                                                        class="table_row_group">
                                                                                        <label class="font-italic"
                                                                                            style=" min-width: 160px; font-size: 13px; color: #666666;">
                                                                                            Depolanabilir ürünler envanter seviyesini yönettiğin fiziksel maddelerdir.
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="table_row_group">
                                                                                    <td class="yks_td_label"
                                                                                        style="border-left: #000000;">

                                                                                        <label
                                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Ölçü
                                                                                            Birimi

                                                                                        </label>
                                                                                    </td>

                                                                                    <td style="width: 100%;"
                                                                                        class="table_row_group">
                                                                                        <select  [ngModel]="stateData.birimId" (ngModelChange)="changed($event)"
                                                                                            formControlName="birimId"
                                                                                            class="form-select shadow-none"
                                                                                            aria-label="Default select example">
                                                                                            <option disabled [selected]="stateData.birimAdi"
                                                                                                [ngValue]="null">Lütfen
                                                                                                seçim yapınız...
                                                                                            </option>
                                                                                            <option 
                                                                                                *ngFor="let item of BirimDataSource" 
                                                                                                [ngValue]="item.id" >
                                                                                                {{item.ad}} </option>
                                                                                        </select>

                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="table_row_group">
                                                                                    <td class="yks_td_label"
                                                                                        style="border-left: #000000;">

                                                                                        <label
                                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Stok
                                                                                            Grubu

                                                                                        </label>
                                                                                    </td>

                                                                                    <td style="width: 100%;"
                                                                                    class="table_row_group">
                                                                                    <input formControlName="stokGrup"
                                                                                        style=" padding: 0px 0 0px 0.75rem;
                                                                                    font-size: 13px;
                                                                                    border-radius: 1px;
                                                                                    background-color: rgb(210, 210, 255) !important;
                                                                                    border: 1px solid rgb(145, 145, 243);"
                                                                                        type="text"
                                                                                        class="form-control shadow-none"
                                                                                        id="exampleFormControlInput1" [(ngModel)]="stateData.stokGrup">
                                                                                </td>
                                                                                </tr>




                                                                            </tbody>
                                                                        </table>


                                                                        <!-- <app-table>
                                                                            <app-input-tr [field]="stateData.kod" [formControlNames]="kod" label="Stok Kodu" selectClass="form-control-required"></app-input-tr>
                                                                            <app-select-tr [field]="stateData.birimAdi" [formControlNames]="birimId" (childFunc)="changed($event)"  label="Ölçü Birimi" selectClass="form-control-required"></app-select-tr>
                                                                            <app-input-tr [field]="stateData.stokGrup" [formControlNames]="stokGrup" label="Stok Grubu" selectClass="form-control-required"></app-input-tr>
                                                                        </app-table> -->


                                                                    </div>


                                                                    <div class="col-12 lg:col-6 xl:col-6 pl-4 pr-4">

                                                                        <table class="yks_table_group "
                                                                            style="width: 100%;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="yks_td_label"
                                                                                        style="border-left: #000000;">

                                                                                        <label
                                                                                            style=" min-width: 160px; font-weight: 600; font-size: 13px;">Birim
                                                                                            Fiyat

                                                                                        </label>
                                                                                    </td>
                                                                                    <td>

                                                                                        <input
                                                                                            formControlName="birimFiyat"
                                                                                            autocomplete="off"
                                                                                            currencyInput [maxDigits]=9
                                                                                            [ngModel]="stateData.birimFiyat"
                                                                                            style=" padding: 0px 0 0px 0.75rem;
                                                                                    font-size: 13px;
                                                                                    border-radius: 1px;
                                                                                    background-color: rgb(210, 210, 255) !important;
                                                                                    border: 1px solid rgb(145, 145, 243);"
                                                                                            type="text"
                                                                                            class="form-control shadow-none"
                                                                                            id="exampleFormControlInput1">
                                                                                    </td>

                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>


                                                                    <table class="yks_table_group "
                                                                        style="width: 100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width: 100px;">
                                                                                    <div style="color: #017e84;">
                                                                                        İç Notlar
                                                                                    </div>
                                                                                </td>
                                                                                <td></td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width: 100%;">
                                                                                    <textarea formControlName="aciklama"
                                                                                        class="form-control shadow-none border-1"
                                                                                        placeholder="Bu not sadece dahili amaçlar içindir..."
                                                                                        style="width: 100%;max-height: 30px; border: 1px solid #d9d9d9;"></textarea>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>


                                                                </div>






                                                            </tab-item>
                                                            <tab-item tabTitle="Nitelik & Varyantlar">
                                                                Tab 2 content
                                                            </tab-item>
                                                        </tab-main>






                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</form>