

<nav class="top-bar" data-topbar style="background: linear-gradient(#70789A, #474D66);">
    <ul class="title-area">
      <li class="name" [routerLink]="['/menu']">
        <i  class="fa fa-home home-icon" aria-hidden="true"></i>
      </li>
  
      <li   class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
    </ul>
  
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"
      style="display: grid; grid-template-columns: max-content max-content max-content;">
  
      <div class="btn-group mr-1" role="group">
        <button [routerLink]="['/administration/personel']" style="border: none;
          display: grid;
          top: 0;
          height: 45px;
          color: white;" type="button" class="btn yks-btn topbar-button">
         <i class="small fa fa-list" style="font-size: 18px !important; color: white;"></i> 
          Personeller
        </button>
        
  
      </div>


      <div class="btn-group mr-1" role="group">
        <button data-bs-toggle="dropdown" aria-expanded="false"  style="border: none;
          display: grid;
          top: 0;
          height: 45px;
          color: white;" type="button" class="btn yks-btn topbar-button">
         <i class="small fa fa-list" style="font-size: 18px !important; color: white;"></i> 
          Kimlik Yönetimi
        </button>
        
        <ul class="dropdown-menu topbar-dropdown-menu">
          <li [routerLink]="['/administration/role']"><a class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Roller</a></li>
          <li [routerLink]="['/administration/user']"  ><a class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Kullanıcılar</a></li>
          
        </ul>
  
      </div>
      <div class="btn-group mr-1" role="group">
        <button  style="border: none;
          display: grid;
          top: 0;
          height: 45px;
          color: white;" type="button" class="btn yks-btn topbar-button">
         <i class="small fa fa-list" style="font-size: 18px !important; color: white;"></i> 
          Tenant Yönetimi
        </button>
        
        
      </div>

    </div>
  </nav>
  
  <router-outlet></router-outlet>