
#sidebar-menu::-webkit-scrollbar {
    width: 8px; /* Kaydırma çubuğu genişliği */
  
  }
  
  #sidebar-menu::-webkit-scrollbar-thumb {
    background: #ccc !important; /* Kaydırma çubuğu rengi */
    border-radius: 5px !important; /* Kenar yuvarlama */
  }
  
  #sidebar-menu::-webkit-scrollbar-thumb:hover {
    background: #999 !important; /* Hover rengi */
  }

  .sub-menu{
    display: none;
  }

.show + ul.sub-menu{
    display: block !important;
  }

  .arka-plan{
    background-image: url('../../../assets/form_sheetbg.png');
    background-repeat: repeat; /* Resmi, div boyutuna kadar tekrar ettirir */
    background-position: top left; /* Resmi sol üstten başlatır */
  }

