<div class="ribbon-tab" id="format-tab" style="display: block; height: 93px;">
    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Hareketler</span>
        <div class="ribbon-button ribbon-button-large disabled" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/inventory.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/inventory.png">
            <img style="width: 36px; height: 36px;opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/inventory.png">
            <span class="button-title" unselectable="on">Satınalma<br>Talebi</span>
        </div>

        <div [routerLink]="['/pages/satin-alma/create-alinan-teklif']"  [routerLinkActive]="['active']" class="ribbon-button ribbon-button-large " id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/inventory_down.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/inventory_down.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/inventory_down.png">
            <span class="button-title" unselectable="on">Alınan<br>Teklif</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/inventory_up.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/inventory_up.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/inventory_up.png">
            <span class="button-title" unselectable="on">Verilen<br>Sipariş</span>
        </div>

    </div>


    <div class="ribbon-section-sep" unselectable="on"></div>


    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Listeler</span>
        <div class="ribbon-button ribbon-button-large disabled" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/inventory_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/inventory_clock.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/inventory_clock.png">
            <span class="button-title" unselectable="on">Verilen<br>Sipariş</span>
        </div>
        <div [routerLink]="['/pages/satin-alma/alinan-teklif']"  [routerLinkActive]="['active']" class="ribbon-button ribbon-button-large " id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/list_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/list_clock.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/list_clock.png">
            <span class="button-title" unselectable="on">Alınan<br>Teklif</span>
        </div>
       
        <div class="ribbon-button ribbon-button-large disabled" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/inventory_categories_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/inventory_categories_clock.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/inventory_categories_clock.png">
            <span class="button-title" unselectable="on">Talep<br>Listesi</span>
        </div>
    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>
    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Tanımlar</span>

        <div class="ribbon-button ribbon-button-large disabled" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/application_list.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/application_list.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/application_list.png">
            <span class="button-title" unselectable="on">Satınalma<br><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>

</div>


    <!-- <mat-menu #menu="matMenu">

        <ng-template matMenuContent let-item="item">
            <button mat-menu-item [routerLink]="['/pages/fatura/create-fatura']" [routerLinkActive]="['active']" >
                <img style="width: 22px; height: 22px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/fatura/inventory_down.png">
                <span>Alış Faturası</span>
            </button>

            <button mat-menu-item>
                <img style="width: 22px; height: 22px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/fatura/inventory_close.png">
                <span>Alış İade Faturası</span>
            </button>
            <button mat-menu-item [routerLink]="['/pages/fatura/create-fatura']" [routerLinkActive]="['active']" >
                <img style="width: 22px; height: 22px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/fatura/inventory_up.png">
                <span>Satış Faturası</span>
            </button>
            <button mat-menu-item>
                <img style="width: 22px; height: 22px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/fatura/inventory_cancel.png">
                <span>Satış İade Faturası</span>
            </button>
        </ng-template>

    </mat-menu> -->



