@import "src/assets/custom/custom-list-page";

:host ::ng-deep{

    .rag-green{
        color: rgb(2, 153, 65);
      
    }
    .rag-gray{
        color: rgb(107, 107, 107);
      
    }
    .rag-red{
        color: rgb(109, 0, 0);
      
    }


}
