<tr class="table_row_group" >
    <td class="yks_td_label" style="border-left: #000000;">
        <label style=" min-width: 160px; font-weight: 600; font-size: 13px;">{{label}} </label>
    </td>



    <td style="width: 100%;" class="table_row_group" select="[input-tr]" >
        <select 
        (ngModelChange)="selectedBirimDropdown($event)"
        [formControl]="formControlNames" [ngModel]="field"
        class="form-select shadow-none " [ngClass]="selectClass" 
        aria-label="Default select example">
        <option selected  
            [ngValue]="null">Lütfen
            seçim yapınız...
        </option>
        <option 
            *ngFor="let item of BirimDataSource"
            [ngValue]="item" >
            {{item.ad}} </option>
    </select>

         
    </td>
</tr>