<div class="ribbon-tab" id="format-tab" style="display: block; height: 93px;">
    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Hareketler</span>
        <div class="ribbon-button ribbon-button-large " [routerLink]="['/pages/fatura/create-alis-fatura']" [routerLinkActive]="['active']" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/fatura/clipboard_check.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/fatura/clipboard_check.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/fatura/clipboard_check.png">
                <span class="button-title" unselectable="on">Alış<br>Faturası</span>
        </div>


        <div [routerLink]="['/pages/fatura/create-satis-fatura']" class="ribbon-button ribbon-button-large " id="open-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will open a table and add it to your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/inventory_categories_down.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/inventory_categories_down.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/inventory_categories_down.png">
            <span class="button-title" unselectable="on">Satış<br>Faturası</span>
        </div>

        <div class="ribbon-button ribbon-button-large disabled" id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satinalma/shopping_cart_down.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satinalma/shopping_cart_down.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satinalma/shopping_cart_down.png">
            <span class="button-title" unselectable="on">Alım<br><span style="display: flex;">İrsaliye
                    <mat-icon>arrow_drop_down</mat-icon></span></span>
        </div>

        <div 
        class="ribbon-button ribbon-button-large disabled" id="del-table-btn" unselectable="on">

        <span class="button-help" unselectable="on">This button will remove the selected table from your
            document.</span>
        <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
            src=" ../../assets/icons/satis/dispatch_order_up.png">
        <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
            src=" ../../assets/icons/satis/dispatch_order_up.png">
        <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled"
            src=" ../../assets/icons/satis/dispatch_order_up.png">
        <span class="button-title" unselectable="on">Satış<br><span style="display: flex;">İrsaliye
                <mat-icon>arrow_drop_down</mat-icon></span></span>

    </div>

    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>



</div>




