<div class="modal-header ">
    <h4 class="modal-title" > </h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
</div>



<div class="">
    <div class="container-fluid">
        <div class="panel header" data-resize-name="header">
            <div class="content">
                <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
                    <div class="action-items" style="width: 100%; display: flex; align-items: center;">

                        <div class="action-left">
                            <div class="btn-group ml-1 mr-1">

                                <div class="button-container">

                                    <div  class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/add-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Yeni</span>
                                    </div>

                                    <div (click)="Kaydet()" class="button-grup ">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/save.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Kaydet</span>

                                    </div>

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/delete-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Sil</span>

                                    </div>

                                    <div (click)="cikis()" class="button-grup">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/close.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Çıkış</span>

                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div style="overflow-x: auto; line-height: 27px; padding: 5px;">
            <form [formGroup]="frm">

                <div style="display: grid;grid-template-columns: auto auto;padding: 0 10px;">


                    <app-form-label [status]="false" [readOnly]="false" [formControlNames]="seriNo" [span]="130"
                        [label]="'Seri'" [field]="'CRVR-1'"></app-form-label>
                    <div></div>
                    <app-form-label [status]="false" [readOnly]="false" [formControlNames]="belgeNo" [span]="130"
                        [label]="'Belge No'" [field]="''"></app-form-label>
                    <app-form-label [status]="false" [readOnly]="false" [formControlNames]="referansNo" [span]="130"
                        [label]="'Referans No'" [field]="''"></app-form-label>

                    <!-- <app-form-label [status]="false" [readOnly]="true" [formControlNames]="belgeTarihi" [span]="130"
                        [label]="'Belge Tarihi'" [field]="''"></app-form-label> -->

                    <app-form-date [status]="false"[formControlNames]="belgeTarihi" [span]="130"
                        [label]="'Belge Tarihi'"></app-form-date>
                    <app-form-label [status]="false" [readOnly]="true" [formControlNames]="valorTarihi" [span]="130"
                        [label]="'Valör Tarihi'" [field]="''"></app-form-label>



                    <div style="grid-column: 1/span 2;">
                        <p-divider></p-divider>
                    </div>

                    <div style="grid-column: 1/span 2; display: flex ;justify-content: space-between;">
                        <div style="font-size: 15px;font-weight: 600;">BORÇLU</div>
                        <div style="font-size: 15px;font-weight: 600;">ALACAKLI</div>
                    </div>


                    <app-form-input-select [status]="false" [field]="selectedBorcluCari?.kod"
                        (childFunc)="BorcluCariChildFunc($event)" [component]="CariSelectModalComponent"
                        [formControlNames]="borcluCariId" [span]="130" [label]="'B. Cari'"></app-form-input-select>

                    <app-form-input-select [status]="false" [field]="selectedAlacakliCari?.kod"
                        (childFunc)="AlacakliCariChildFunc($event)" [component]="CariSelectModalComponent"
                        [formControlNames]="alacakliCariId" [span]="130" [label]="'A. Cari '"></app-form-input-select>


                    <app-form-label [status]="false" [readOnly]="true" [formControlNames]="borcluCariAdi" [span]="130"
                        [label]="'Cari Adı'" [field]="selectedBorcluCari?.ad"></app-form-label>

                    <app-form-label [status]="false" [readOnly]="true" [formControlNames]="alacakliCariAdi" [span]="130"
                        [label]="'Cari Adı'" [field]="selectedAlacakliCari?.ad"></app-form-label>

                    <app-form-label [status]="false" [readOnly]="false" [formControlNames]="tutar" [span]="130"
                        [label]="'Tutar'" [field]="0"></app-form-label>
                    <div></div>

                    <app-form-label [status]="false" [readOnly]="false" [formControlNames]="duzenleyen" [span]="130"
                    [label]="'Düzenleyen'" [field]="''"></app-form-label>

                    <app-form-label [status]="false" [readOnly]="false" [formControlNames]="teslimAlan" [span]="130"
                    [label]="'Teslim Alan'" [field]="''"></app-form-label>

                    <app-form-label style="grid-column: 1/span 2;" [status]="false" [readOnly]="true" [formControlNames]="aciklama" [span]="130"
                    [label]="'Açıklama'" [field]="''"></app-form-label>


                   




                </div>



            </form>




        </div>



    </div>












</div>


<div class="modal-footer">
</div>