

  <nav class="top-bar" data-topbar >
    <ul class="title-area">
      <li class="name"  [routerLink]="['/menu']">
        <i  class="fa fa-home home-icon" aria-hidden="true"></i>
      </li>
  
      <li   class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
    </ul>
  

    <div role="group" style="display: grid; grid-template-columns: max-content max-content max-content;height: 100%;">

      <div class="grid-container">
        <div class="btn-group " role="group">
          <button [routerLink]="['/menu/fatura/alis-fatura/list']" type="button" class="btn yks-btn topbar-button">
            <i class="small fa fa-list btn-button-icon"></i>
            Alış Faturaları
          </button>
        </div>
        <div class="btn-group " role="group">
          <button [routerLink]="['/menu/fatura/satis-fatura/list']" type="button" class="btn yks-btn topbar-button">
            <i class="small fa fa-list btn-button-icon"></i>
            Satış Faturaları
          </button>
        </div>

  
        <span class="top-footer">
          Listeler
        </span>
      </div>
  
      <p-divider layout="vertical"></p-divider>
  
    </div>




  </nav>



  <router-outlet></router-outlet>