


<nav class="breadcrumbs">
    <a class="unavailable">Stok</a>
    <a class="unavailable">Yeni</a>
   <!-- <a class="unavailable">Lower Airways</a>
    <a class="current">Carina</a>
    <a class="right">Take Exam</a> -->
  </nav>
<form [formGroup]="frm">
    <div class="demo-container" style="position: relative;">
        <div class=" yks-filemanager" style="height: 791px;">

            <div class=" yks-drawer">
                <div class="yks-drawer-wrapper">
                    <div class="yks-drawer-content deneme"
                        style="transform: translate(0px, 0px); padding: 0px; left: 0px; ">

                        <div class="yks-filemanager-notification-drawer-panel">

                            <div class="yks-filemanager-wrapper">


                                
                                <div class="yks_control_panel">
                                    <div class="yks_cpanel_top">
                                        <div class="yks_cpanel_top_left">
                                            <div>


                                                <div class=" yks-toolbar-item ">


                                                    <div class="yks-button-has-text">
                                                        <ul class="yks-menu-items-container"
                                                            style="    display: flex; align-items: center; justify-content: center;">
                                                            <li routerLink="/stok/list" class="yks-menu-item-wrapper yks-download-btn cursor-pointer"style="margin: 0 2px;" >
                                                                <div class="">
                                                                  <div class="yks-menu-item-content">
                                                                    <i class="fa fa-arrow-left"></i>
                                                                    <span class="d-none d-sm-inline ml-1 "
                                                                              style="font-size: 13px;">Geri</span>
                                                                  </div>
                                                                </div>
                                                              </li>
                                                            <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                                <div class=" yks-menu-item-content">


                                                                    <button (click)="createStok()" type="button"
                                                                        class="btn btn-success"
                                                                        style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
                                                                        <i class="fa fa-check"
                                                                            style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
                                                                        <span class="d-none d-sm-inline"
                                                                            style="font-size: 13px;">Kaydet</span>
                                                                    </button>

                                                                </div>

                                                            </li>
                                                            <li class="yks-menu-item-wrapper" style="margin: 0 2px;">
                                                                <div class=" yks-menu-item-content">
                                                                    <button type="button" class="btn "
                                                                        routerLink="/stok/list"
                                                                        style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
                                                                        <i class="fa fa-times"
                                                                            style="color: #000; margin-right: 5px; font-weight: 600;"></i>
                                                                        <span class="d-none d-sm-inline"
                                                                            style="font-size: 13px;">Vazgeç</span>
                                                                    </button>
                                                                </div>

                                                            </li>
                                                            <!-- <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                                <div class=" yks-menu-item-content">

                                                                    <input type="file" class="custom-file-input" id="customFile" name="myfile"
                                                                    (change)="onFileChange($event)" #UploadFileInput>
                                                                   

                                                                </div>

                                                            </li> -->


                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="yks_cpanel_top_right" style="display: flex; justify-content: end;">


                                        </div>
                                    </div>




                                </div>



                                <div class="yks-filemanager-container">
                                    <div class="yks-drawer">
                                        <div class="yks-drawer-wrapper">
                                            <div id="filter_menu"
                                                class="yks-drawer-panel-content yks-drawer-panel-content-initial"
                                                style="margin-left: 0px; display: none; border: 1px solid #c1c1c1;">
                                            </div>
                                            <div class="yks-drawer-content" style="padding: 0px;">
                                                <div class=" yks-filemanager-breadcrumbs"></div>

                                                <div class="card m-5"
                                                    style="box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;">


                                                    <div class="yks_button_box yks_not_full" style="width: 140px;">

                                                        <button class="btn yks_stat_button">
                                                            <i class="fa fa-fw yks_button_icon fa-list-ul"></i>
                                                            <div class="yks_field_widget yks_stat_info">
                                                                <span class="yks_stat_value">
                                                                    <span>0</span>
                                                                </span>
                                                                <span class="yks_title_value">Extra Fiyatlar</span>

                                                            </div>
                                                        </button>
                                                        <button class="btn yks_stat_button">
                                                            <i class="fa fa-fw yks_button_icon fa-list-ul"></i>
                                                            <div class="yks_field_widget yks_stat_info">
                                                                <span class="yks_stat_value">
                                                                    <span>0</span>
                                                                </span>
                                                                <span class="yks_title_value">Extra Fiyatlar</span>

                                                            </div>
                                                        </button>

                                                    </div>


                                                    <div class="pane" style="padding: 1em;">
                                                        <div class="grid">
                                                            <div class="col-12 lg:col-6 xl:col-6 pl-4">

                                                                <!-- <input type="file" (change)="onFileChange($event)"> -->
                                                                <!-- <button (click)="Upload()">Tamam</button> -->


                                                                <app-table>
                                                                    <app-title-input-tr [formControlNames]="ad"
                                                                        label="Stok Adı"
                                                                        selectClass="form-control-required"></app-title-input-tr>

                                                                </app-table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>

                                                        <tab-main>
                                                            <tab-item [tabTitle]="'Genel Bilgiler'">

                                                                <div class="grid">
                                                                    <div class="col-12 lg:col-6 xl:col-6 pl-4">

                                                                        <app-table>
                                                                            <app-input-tr [formControlNames]="kod"
                                                                                label="Stok Kodu"
                                                                                selectClass="form-control-required"></app-input-tr>
                                                                            <app-select-tr [formControlNames]="birimId"
                                                                                (childFunc)="changed($event)"
                                                                                label="Ölçü Birimi"
                                                                                selectClass="form-control-required"></app-select-tr>
                                                                            <app-input-tr [formControlNames]="stokGrup"
                                                                                label="Stok Grubu"
                                                                                selectClass="form-control-required"></app-input-tr>
                                                                        </app-table>

                                                                    </div>


                                                                    <div class="col-12 lg:col-6 xl:col-6 pl-4 pr-4">

                                                                        <app-table>
                                                                            <app-input-tr
                                                                                [formControlNames]="birimFiyat"
                                                                                label="Birim Fiyat"></app-input-tr>
                                                                        </app-table>
                                                                    </div>


                                                                    <table class="yks_table_group "
                                                                        style="width: 100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width: 100px;">
                                                                                    <div style="color: #017e84;">
                                                                                        İç Notlar
                                                                                    </div>
                                                                                </td>
                                                                                <td></td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width: 100%;">
                                                                                    <textarea formControlName="aciklama"
                                                                                        class="form-control shadow-none border-1"
                                                                                        placeholder="Bu not sadece dahili amaçlar içindir"
                                                                                        style="width: 100%;max-height: 30px; border: 1px solid #d9d9d9;"></textarea>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>


                                                                </div>






                                                            </tab-item>
                                                            <tab-item tabTitle="Nitelik & Varyantlar">
                                                                Tab 2 content
                                                            </tab-item>
                                                        </tab-main>






                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</form>