<!-- <nav class="breadcrumbs">
    <a class="unavailable">Alış Faturası</a>

    <a class="unavailable">{{stateData.seri}} - {{stateData.belgeNo}}</a>

</nav>




<form [formGroup]="frm" (keydown.enter)="$event.preventDefault()">
    <div class="demo-container" style="position: relative;">
        <div class=" yks-filemanager" style="height: 791px;">

            <div class=" yks-drawer">
                <div class="yks-drawer-wrapper">
                    <div class="yks-drawer-content" style="transform: translate(0px, 0px); padding: 0px; left: 0px; ">

                        <div class="yks-filemanager-notification-drawer-panel">

                            <div class="yks-filemanager-wrapper">


                                
                                <div class="yks_control_panel">
                                    <div class="yks_cpanel_top">
                                        <div class="yks_cpanel_top_left">
                                            <div>


                                                <div class=" yks-toolbar-item ">


                                                    <div class="yks-button-has-text">
                                                        <ul class="yks-menu-items-container"
                                                            style="    display: flex; align-items: center; justify-content: center;">

                                                            <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                                <div class=" yks-menu-item-content">


                                                                    <button  class="btn btn-success" 
                                                                        (click)="kaydet()" 
                                                                        style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
                                                                        <i class="fa fa-check"
                                                                            style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
                                                                        <span class="d-none d-sm-inline"
                                                                            style="font-size: 13px;">Kaydet</span>
                                                                    </button>

                                                                </div>

                                                            </li>
                                                           
                                                            <li class="yks-menu-item-wrapper" style="margin: 0 2px;">

                                                                <div class=" yks-menu-item-content">


                                                                    <button type="button" (click)="vazgec()"
                                                                        class="btn "
                                                                        style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
                                                                        <i class="fa fa-times"
                                                                            style="color: #000; margin-right: 5px; font-weight: 600;"></i>
                                                                        <span class="d-none d-sm-inline"
                                                                            style="font-size: 13px;">Vazgeç</span>
                                                                    </button>

                                                                </div>

                                                            </li>



                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="yks_cpanel_top_right" style="display: flex; justify-content: end;">


                                        </div>
                                    </div>




                                </div>



                                <div class="yks-filemanager-container">
                                    <div class="yks-drawer">
                                        <div class="yks-drawer-wrapper">
                                            <div id="filter_menu"
                                                class="yks-drawer-panel-content yks-drawer-panel-content-initial"
                                                style="margin-left: 0px; display: none; border: 1px solid #c1c1c1;">
                                            </div>
                                            <div class="yks-drawer-content" style="padding: 0px;">
                                                <div class=" yks-filemanager-breadcrumbs"></div>

                                                <div class="card m-5"
                                                    style="box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;">


                                                    <div class="yks_button_box yks_not_full" style="width: 70px;">



                                                    </div>


                                                    <div class="grid">

                                                        <div class="col-12 lg:col-3 xl:col-3 pl-4">

                                                            <table class="yks_table_group">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="yks_td_label"></td>
                                                                        <td style="width: 100%; "></td>
                                                                    </tr>



                                                                    
                                                                    <tr class="table_row_group">
                                                                        <td class="yks_td_label"
                                                                            style="border-left: #000000; text-align: end;">

                                                                            <label
                                                                                style=" min-width: 100px; font-weight: 600; font-size: 13px;">Rol Adı :

                                                                            </label>
                                                                        </td>

                                                                        <td style="width: 100%;"
                                                                            class="table_row_group">

                                                                          


                                                                                <input readonly
                                                                                [ngModel]="stateData.name"
                                                                                formControlName="name" style=" padding: 0px 0 0px 0.75rem; 
                                                                        font-size: 13px;
                                                                        border-radius: 1px; opacity: 0.7;" type="text"
                                                                                class="form-control shadow-none form-control-nullable"
                                                                                id="exampleFormControlInput1">


                                                                        </td>
                                                                    </tr>
                                                                    <tr class="table_row_group">
                                                                        <td class="yks_td_label"
                                                                            style="border-left: #000000; text-align: end;">

                                                                            <label
                                                                                style=" min-width: 100px; font-weight: 600; font-size: 13px;">Description :

                                                                            </label>
                                                                        </td>

                                                                        <td style="width: 100%;"
                                                                            class="table_row_group">

                                                                          


                                                                                <input readonly
                                                                                [ngModel]="stateData.description"
                                                                                formControlName="description" style=" padding: 0px 0 0px 0.75rem; 
                                                                        font-size: 13px;
                                                                        border-radius: 1px; opacity: 0.7;" type="text"
                                                                                class="form-control shadow-none form-control-nullable"
                                                                                id="exampleFormControlInput1">


                                                                        </td>
                                                                    </tr>
                                                                    <tr class="table_row_group">
                                                                        <td class="yks_td_label"
                                                                            style="border-left: #000000; text-align: end;">

                                                                            <label
                                                                                style=" min-width: 120px; font-weight: 600; font-size: 13px;">Normalized Name :

                                                                            </label>
                                                                        </td>

                                                                        <td style="width: 100%;"
                                                                            class="table_row_group">

                                                                          


                                                                                <input readonly
                                                                                [ngModel]="stateData.normalizedName"
                                                                                formControlName="normalizedName" style=" padding: 0px 0 0px 0.75rem; 
                                                                        font-size: 13px;
                                                                        border-radius: 1px; opacity: 0.7;" type="text"
                                                                                class="form-control shadow-none form-control-nullable"
                                                                                id="exampleFormControlInput1">


                                                                        </td>
                                                                    </tr>
                                                          





                                                                </tbody>
                                                            </table>

                                                        </div>
                                                





                                                    </div>

                                                    <div>
                                                        <div
                                                            style="padding: 0.5rem 0 0 1rem;border: 1px solid rgba(0, 0, 0, 0.15); display: grid; grid-template-columns: 70px 90px 50px;  gap: 2px;">
                                                            <button mat-icon-button 
                                                                style="width: 70px; " color="primary"
                                                                aria-label="Example icon button with a home icon">

                                                                <mat-icon
                                                                    style="font-size: 18px; font-weight: 600;">add</mat-icon>
                                                                <label
                                                                    style="font-weight: 600; font-size: 14px; color: #666666;">Ekle</label>
                                                            </button>
                                                           
                                                            <button  mat-icon-button style="width: 50px;" color="primary"
                                                                aria-label="Example icon button with a home icon">
                                                                <mat-icon
                                                                    style="font-size: 18px; font-weight: 600;color: rgb(172, 0, 0);">delete</mat-icon>
                                                                <label
                                                                    style="font-weight: 600; font-size: 14px; color: #666666;">Sil</label>
                                                            </button>

                                                        </div>
                                                        <ag-grid-angular
                                                            style="width: 100%;min-height: 490px; height:100px; margin-top: 4px;"
                                                            class="ag-theme-quartz" [rowData]="rowData"
                                                            [columnDefs]="colDefs" (gridReady)="getList($event)"
                                                            [rowSelection]="rowSelection" [rowHeight]="22"
                                                            [headerHeight]="23">
                                                        </ag-grid-angular>







                                                  




                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</form> -->
















<div class="modal-header ">
    <h4 class="modal-title"></h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  </div>
  
  
  
  <div class="">
    <div class="container-fluid">
      <div class="panel header" data-resize-name="header">
        <div class="content">
          <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
            <div class="action-items" style="width: 100%; display: flex; align-items: center;">
  
              <div class="action-left">
                <div class="btn-group ml-1 mr-1">
  
                  <div class="button-container">
  
                    <div  class="button-grup disabled">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/add-file.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Yeni</span>
                      <!-- <i class="fa-solid fa-sort-down sort-down-icon"></i> -->
                    </div>
  
                    <div  (click)="Kaydet()" class="button-grup ">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/save.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Kaydet</span>
  
                    </div>
  
                    <div class="button-grup disabled">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/delete-file.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Sil</span>
  
                    </div>
  
                    <div (click)="cikis()" class="button-grup">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/close.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Çıkış</span>
  
                    </div>
  
  
  
  
                  </div>
  
  
                </div>
              </div>
  
  
            </div>
  
          </div>
  
  
        </div>
      </div>
  
  
  
      <div style="overflow-x: auto; line-height: 27px; padding: 5px;">
        <form [formGroup]="frm">
          <div style="display: grid;grid-template-columns: auto auto auto;padding: 0 10px;">
  
  
  
  
  
  
            <app-form-label [formControlNames]="name" [field]="data.name"
            formControlName="name"  [span]="130" [label]="'Seri'"></app-form-label>
            <div></div>
            <div></div>
            <app-form-label [formControlNames]="description" [field]="data.description" [span]="130" [label]="'Description'"></app-form-label>
            <div></div>
            <div></div>
            <app-form-label [formControlNames]="normalizedName" [field]="data.normalizedName" [span]="130" [label]="'Normalized'"></app-form-label>
            <div></div>
            <div></div>
  
  
  
            <div style="border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6; 
            padding-left: 10px; color: #6b6b6b;
            background-color: #f7f7f7;
            color: rgb(119, 0, 0);
            font-weight: 600;
            grid-column: 1/span 3; 
            text-align: center;
            font-size: 14px;">
              Hareket Bilgileri
            </div>
  
            <ag-grid-angular style="width: 100%;height: 300px;  margin-top: 4px;grid-column: 1/span 3; "
              class="ag-theme-quartz" [rowData]="rowData" [columnDefs]="colDefs" (gridReady)="getList($event)"
              [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23"  >
            </ag-grid-angular>
            <div class="hareket-action-button-container">
  
  
              <div class="button-grup " style="display: grid;">
                <div class="hareket-action-img-container ">
                  <img  src="../../../../../assets/icons/add-file.png" alt="">
                </div>
                <span style="color: blue;" class="d-none d-sm-inline button-label hareket-action-button-label">Ekle</span>
              </div>
  
  
              <div class="button-grup " style="display: grid;">
                <div class="hareket-action-img-container ">
                  <img  src="../../../../../assets/icons/delete-file.png" alt="">
                </div>
                <span  class="d-none d-sm-inline button-label hareket-action-button-label">Sil</span>
              </div>
  
  
              <div class="button-grup " style="display: grid;">
                <div class="hareket-action-img-container ">
                  <img  src="../../../../../assets/icons/edit-file.png" alt="">
                </div>
                <span style="color: #575757;"  class="d-none d-sm-inline button-label hareket-action-button-label">Düzelt</span>
              </div>
  
  
  
  
            </div>
  
  
            

  
          </div>
  
        </form>
  
  
  
  
  
  
      </div>
  
  
  
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
  
  
  <div class="modal-footer">
    <!-- <button (click)="Kaydet()" type="button" class="btn btn-success" 
          style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
          <i class="fa fa-check" style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
          <span class="d-none d-sm-inline" style="font-size: 13px;">Kaydet</span>
      </button>
      <button type="button" class="btn " (click)="activeModal.close(false)"
          style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
          <i class="fa fa-times" style="color: #000; margin-right: 5px; font-weight: 600;"></i>
          <span class="d-none d-sm-inline" style="font-size: 13px;">Vazgeç</span>
      </button> -->
  </div>










