@import "src/assets/scss/caption";
@import "src/assets/scss/section";

.hareket-action-button-container{
    border-top: 1px solid #dee2e6;border-bottom: 1px solid #dee2e6; padding-left: 10px; color: #6b6b6b;background-color: #ffffff;grid-column: 1/span 3; font-size: 14px; display: flex;
    .hareket-action-img-container{
        width: 50px;    height: 35px;padding: 0 5px;display: flex;justify-content: center;align-items: center;
        img{ width: 30px ;height: 30px;}
       
    }

    .hareket-action-button-label{
        text-align: center;line-height: 16px; font-size: 12px;font-weight: 500;color: #7a0000;font-family: 'Segoe UI', Verdana, Tahoma, Helvetica, sans-serif;
    }
}

.hareket-action-button-container .button-grup.disabled{
opacity: 0.5;
}









/* Fitting */
.panel .panel-heading .nav.nav-tabs {
    position:relative;
    bottom:-15px;
    height:37px;
    border:none;
    margin-top:-9px;
    margin-left:-9px;
 }
 
 .panel .panel-heading .nav.nav-tabs li a {
    height:30px;
    line-height:17px;
    border:1px solid transparent;
 }
 
 .panel .panel-heading .nav.nav-tabs li:not(.active) a:hover,
 .panel .panel-heading .nav.nav-tabs li:not(.active) a:focus {
    background:rgba(0, 0, 0, 0.05);
    
 }
 
 .panel .panel-heading .nav.nav-tabs li.active a {
    border:1px solid #407AB9;
    border-bottom-color: transparent !important;
    background:#FFF;
    color: rgb(92, 2, 2) !important;
    // color: #3f51b5 !important;
 }
 
 .panel-heading {
    padding: 5px 15px;
}
 /* Colors */
 .panel.panel-default .panel-heading .nav.nav-tabs li a { color: #555;font-size: 12px; }
 .panel.panel-default .panel-heading .nav.nav-tabs li.active a { border-color:#DDDDDD;}


 .tab-item{
    display: flex;
                text-align: center;
                align-items: center;
                padding: 5px 10px;
 }

 
 
