<!-- <div class="modal-header ">
    <h4 class="modal-title"></h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
</div>



<div class="">
    <div class="container-fluid">
        <div class="panel header" data-resize-name="header">
            <div class="content">
                <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
                    <div class="action-items" style="width: 100%; display: flex; align-items: center;">

                        <div class="action-left">
                            <div class="btn-group ml-1 mr-1">

                                <div class="button-container">

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/add-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Yeni</span>
                                     
                                    </div>

                                    <div (click)="Kaydet()" class="button-grup ">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/save.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Kaydet</span>

                                    </div>

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/delete-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Sil</span>

                                    </div>

                                    <div (click)="cikis()" class="button-grup">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/close.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Çıkış</span>

                                    </div>




                                </div>


                            </div>
                        </div>


                    </div>

                </div>


            </div>
        </div>



        <div style="overflow-x: auto; line-height: 27px; padding: 5px;">
            <form [formGroup]="frm">
                <div style="display: grid;grid-template-columns: auto auto auto;padding: 0 10px;">







                    <app-form-label [field]="data.kod" style=" grid-column: 1/span 2; " [formControlNames]="kod" [span]="130"
                        [label]="'Kod '"></app-form-label>

                    <app-form-label [field]="data.ad" style=" grid-column: 1/span 2; " [formControlNames]="ad" [span]="130"
                        [label]="'Ad '"></app-form-label>

                    <app-form-label [field]="data.aciklama" style=" grid-column: 1/span 2; " [formControlNames]="aciklama" [span]="130"
                        [label]="'Açıklama '"></app-form-label>





                    <div style="border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6; 
            padding-left: 10px; color: #6b6b6b;
            background-color: #f7f7f7;
            color: rgb(119, 0, 0);
            font-weight: 600;
            grid-column: 1/span 3; 
            text-align: center;
            font-size: 14px;">
                        Hareket Bilgileri
                    </div>

                    <ag-grid-angular style="width: 100%;height: 300px;  margin-top: 4px;grid-column: 1/span 3; "
                        class="ag-theme-quartz" [rowData]="rowData" [columnDefs]="colDefs" (gridReady)="getList($event)"
                        [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23"
                        (rowSelected)="rowClick($event)" >
                    </ag-grid-angular>
                    <div class="hareket-action-button-container">


                        <div (click)="Ekle()" class="button-grup " style="display: grid;">
                            <div class="hareket-action-img-container ">
                                <img src="../../../../../assets/icons/add-file.png" alt="">
                            </div>
                            <span style="color: blue;"
                                class="d-none d-sm-inline button-label hareket-action-button-label">Ekle</span>
                        </div>


                        <div (click)="deleteRowData()" class="button-grup " style="display: grid;" [ngClass]="buttonDisabled?'disabled':''">
                            <div class="hareket-action-img-container ">
                                <img src="../../../../../assets/icons/delete-file.png" alt="">
                            </div>
                            <span class="d-none d-sm-inline button-label hareket-action-button-label">Sil</span>
                        </div>


                        




                    </div>






                </div>

            </form>






        </div>



    </div>












</div>


<div class="modal-footer">

</div> -->


















<div class="modal-header ">
    <h4 class="modal-title"></h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  </div>
  
  
  
  <div class="">
    <div class="container-fluid">
      <div class="panel header" data-resize-name="header">
        <div class="content">
          <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
            <div class="action-items" style="width: 100%; display: flex; align-items: center;">
  
              <div class="action-left">
                <div class="btn-group ml-1 mr-1">
  
                  <div class="button-container">
  
                    <div class="button-grup disabled" aria-expanded="false" data-bs-toggle="dropdown">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/add-file.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Yeni </span>
  
                    </div>
  
  
                    <div (click)="Kaydet()" class="button-grup">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/save.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Kaydet</span>
  
                    </div>
  
                    <div class="button-grup disabled">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/delete-file.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Sil</span>
  
                    </div>
  
                    <div (click)="cikis()" class="button-grup">
                      <div class="img-container">
                        <img src="../../../../../assets/icons/close.png" alt="">
                      </div>
                      <span class="d-none d-sm-inline button-label">Çıkış</span>
  
                    </div>
  
  
  
  
                  </div>
  
  
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="panel panel-default" style="height: 40px;">
        <div class="panel-heading" style="background-color: #f5f5f5;">
          <ul class="nav nav-tabs">
  
            <li [class.active]="selectedTab==='genelBilgiler'" (click)="useTab('genelBilgiler')">
              <a class="tab-item"> Genel Bilgileri</a>
            </li>
            
          </ul>
        </div>
  
      </div>
  
      <div style="overflow-x: auto; line-height: 27px; padding: 5px;">
  
        <div *ngIf="selectedTab==='genelBilgiler'"  style="height: calc(-390px + 100vh);">
          <form [formGroup]="frm" >
            <div style="display: grid;grid-template-columns: auto;padding: 0 10px;">
    
    
    
                <app-form-label [field]="data.kod" style="max-width: 350px; " [formControlNames]="kod" [span]="130"
                [label]="'Kod '"></app-form-label>
                <div></div>
                <div></div>

            <app-form-label [field]="data.ad" style="max-width: 350px; " [formControlNames]="ad" [span]="130"
                [label]="'Ad '"></app-form-label>
                <div></div>
                <div></div>

            <app-form-label [field]="data.aciklama" style="grid-column: 1/span 2;"  [formControlNames]="aciklama" [span]="130"
                [label]="'Açıklama '"></app-form-label>





            <div style="border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6; 
    padding-left: 10px; color: #6b6b6b;
    background-color: #f7f7f7;
    color: rgb(119, 0, 0);
    font-weight: 600;
    grid-column: 1/span 3; 
    text-align: center;
    font-size: 14px;">
                Banka Şubeleri
            </div>

            <ag-grid-angular style="width: 100%;height: 300px;  margin-top: 4px;grid-column: 1/span 3; "
                class="ag-theme-quartz" [rowData]="rowData" [columnDefs]="colDefs" (gridReady)="getList($event)"
                [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23"
                (rowSelected)="rowClick($event)" >
            </ag-grid-angular>
            <div class="hareket-action-button-container">


                <div (click)="Ekle()" class="button-grup " style="display: grid;">
                    <div class="hareket-action-img-container ">
                        <img src="../../../../../assets/icons/add-file.png" alt="">
                    </div>
                    <span style="color: blue;"
                        class="d-none d-sm-inline button-label hareket-action-button-label">Ekle</span>
                </div>


                <div (click)="deleteRowData()" class="button-grup " style="display: grid;" [ngClass]="buttonDisabled?'disabled':''">
                    <div class="hareket-action-img-container ">
                        <img src="../../../../../assets/icons/delete-file.png" alt="">
                    </div>
                    <span class="d-none d-sm-inline button-label hareket-action-button-label">Sil</span>
                </div>


                




            </div>
    
            </div>
          </form>
        </div>
  
  
<!--   
        <div *ngIf="selectedTab==='hareketler'">
          <ag-grid-angular #agGrid style="height:calc(100vh - 390px);" class="ag-theme-quartz" [rowData]="rowDataBankaHareketler"
            [defaultColDef]="defaultColDef" [columnDefs]="colDefBankaHarekets" (gridReady)="getList($event)"
             [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23"
            [localeText]="localeText">
          </ag-grid-angular>
        </div>
  
        <div *ngIf="selectedTab==='cekSenetIslemleri'" style="height: calc(-390px + 100vh);"></div>
  
   -->
  
  
  
      </div>
  
  
  
    </div>
  
  
  
  
  </div>
  
  
  <div class="modal-footer">
  
  </div>













