<!-- <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name" [routerLink]="['/menu']">
      <i class="fa fa-home home-icon" aria-hidden="true"></i>
    </li>

    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>




  <div role="group" style="display: grid; grid-template-columns: max-content max-content max-content;height: 100%;">

    <div class="grid-container">
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/finans/cari/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Cariler
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/finans/banka/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Bankalar
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/finans/kasa/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Kasalar
        </button>
      </div>
      <div class="btn-group mr-1" role="group">
        <button style="border: none;
            display: grid;
            top: 0;
            height: 45px;
            color: white;" type="button" class="btn yks-btn topbar-button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="small fa fa-database btn-button-icon" aria-hidden="true"></i>
          Çekler
        </button>
        
      </div>
      <div class="btn-group mr-1" role="group">
        <button style="border: none;
            display: grid;
            top: 0;
            height: 45px;
            color: white;" type="button" class="btn yks-btn topbar-button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="small fa fa-database" style="font-size: 18px !important; color: white;" aria-hidden="true"></i>

          Senetler
        </button>

        <ul class="dropdown-menu topbar-dropdown-menu">
          <li><a class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Borç Senedi</a></li>
          <li><a class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Alacak Senedi</a></li>

        </ul>
      </div>

      <span class="top-footer">
        Listeler
      </span>
    </div>

    <p-divider layout="vertical"></p-divider>

  </div>

</nav>



<router-outlet></router-outlet> -->


<!-- <nav class="top-bar" data-topbar >
  <ul class="title-area">
    <li class="name" [routerLink]="['/menu']">
      <i class="fa fa-home home-icon" aria-hidden="true"></i>
    </li>

    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>




  <div role="group" style="display: grid; grid-template-columns: max-content max-content max-content;height: 100%;">

    <div class="grid-container">
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/finans/alis-finans/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Teklifler
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/finans/verilen-siparis/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
         Siparişler
        </button>
      </div>


      <span class="top-footer">
        Listeler
      </span>
    </div>

    <p-divider layout="vertical"></p-divider>

  </div>
</nav>

<router-outlet></router-outlet> -->
















<nav class="top-bar" style="height: 5.4rem; background: #fbfbfb; line-height: 100%;">
    <ul class="title-area">
      <li class="name" [routerLink]="['/menu']">
        <i class="fa fa-home home-icon"></i>
      </li>
  
  
    </ul>
  
    <div style="display: flex;">
      <!-- <p-divider layout="vertical"></p-divider> -->
  
 
  
      <div class="card" style="margin: 0 2px;">
        <div style="display: grid;">
          <div style="height: 4.1rem;">
            <div class="buton-grup">
    
  
  
              <button  type="button" type="button" class="btn topbar-button" >
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/muhasebe/hesap-plani.png" alt="">
                </div>
    
                <span class="button-label">Hesap Planı
    
                </span>
    
              </button>
             

    
     
              
    
            </div>
    
    
          </div>
          <div class="buton-grup-label">Listeler</div>
    
    
        </div>
      </div>
  
      <div class="card" style="margin: 0 2px;">
        <div style="display: grid;">
          <div style="height: 4.1rem;">
            <div class="buton-grup">
    
  
              <button data-bs-toggle="dropdown" aria-expanded="false" type="button" type="button"
                class="btn topbar-button">
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/finans/kasa.png" alt="">
                </div>
    
                <span class="button-label" style="    display: flex;
                align-items: center;
                gap: 5px;">Hesap <i class="fa-solid fa-sort-down sort-down-icon"></i>
                </span>
    
              </button>
              <ul class="dropdown-menu topbar-dropdown-menu">
                <li><a class="dropdown-item yks-dropdown-item" style="color: #575757 !important;">Cari Listesi</a></li>
                <li ><a class="dropdown-item yks-dropdown-item" style="color: #575757 !important;">Cari Toplam İzleme</a></li>
                <li ><a class="dropdown-item yks-dropdown-item" style="color: #575757 !important;">Kasa Toplam İzleme</a></li>
                <li [routerLink]="['/menu/finans/banka-hesap/list']"><a class="dropdown-item yks-dropdown-item" style="color: #575757 !important;">Banka Hesap Toplam İzleme</a></li>
               
                
    
              </ul>
    
            </div>
    
    
          </div>
          <div class="buton-grup-label">Hareketler </div>
    
    
        </div>
      </div>
  
  
  
  
      <!-- <p-divider layout="vertical"></p-divider> -->
  
      <!-- <div class="card" style="margin: 0 2px;">
        <div style="display: grid;">
          <div style="height: 4.1rem;">
            <div class="buton-grup">
    
    
              <button [routerLink]="['/menu/finans/hesap/list']" [routerLinkActive]="['active']" type="button" type="button" class="btn topbar-button" >
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/finans/hesap-plani.png" alt="">
                </div>
    
                <span class="button-label"> Hesap Planı
    
                </span>
    
              </button>
    
              
              <button [routerLink]="['/menu/finans/cari/list']" [routerLinkActive]="['active']" type="button"
                class="btn topbar-button">
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/finans/cari.png" alt="">
                </div>
    
                <span class="button-label">Cariler
    
                </span>
    
              </button>
    
    
    
              <button [routerLink]="['/menu/finans/banka/list']" [routerLinkActive]="['active']" type="button" type="button"
                class="btn topbar-button">
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/finans/banka.png" alt="">
                </div>
    
                <span class="button-label"> Bankalar
    
                </span>
    
              </button>
    
    
    
              <button [routerLink]="['/menu/finans/kasa/list']" [routerLinkActive]="['active']" type="button" type="button"
                class="btn topbar-button">
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/finans/kasa.png" alt="">
                </div>
    
                <span class="button-label"> Kasalar
    
                </span>
    
              </button>
    
    
              <button [routerLink]="['/menu/finans/cek-senet/list']" [routerLinkActive]="['active']" type="button" type="button" class="btn topbar-button" >
    
                <div class="img-container">
                  <img style="width: 35px;height: 35px;" src="../../../assets/icons/finans/cek.png" alt="">
                </div>
    
                <span class="button-label"> Çek/Senet
    
                </span>
    
              </button>
    
    
    
     
             
    
    
    
            </div>
    
    
          </div>
          <div class="buton-grup-label">Listler</div>
    
    
        </div>
      </div> -->
  
  
  
  
    </div>
  
    <nav class="breadcrumbs"></nav>
  
  
  </nav>
  
  <div class="card" style="margin: 10px; box-shadow: 1px 1px 1px 1px #e3e3e3;border: 1px solid #ddd;">
    <router-outlet ></router-outlet>
  </div>