<!-- <nav class="breadcrumbs">
  <a class="unavailable">Stok</a> 
</nav> -->




<app-design>



    <div design-buttons>
      <div class="button-container">
  
        <div (click)="createModal()" class="button-grup ">
          <div class="img-container">
            <img src="../../../../../assets/icons/add-file.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Yeni</span>
          <!-- <i class="fa-solid fa-sort-down sort-down-icon"></i> -->
        </div>
  
        <div (click)="delete()" class="button-grup" [ngClass]="buttonDisabled?'disabled':''">
          <div class="img-container">
            <img src="../../../../../assets/icons/delete-file.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Sil</span>
  
        </div>
  
        <div (click)="updateModal()" class="button-grup"
          [ngClass]="buttonDisabled?'disabled':''||buttonUpdateDisabled?'disabled':''">
          <div class="img-container">
            <img src="../../../../../assets/icons/edit-file.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Düzelt</span>
  
        </div>
  
        <div (click)="refresh()" class="button-grup">
          <div class="img-container">
            <img src="../../../../../assets/icons/refresh.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Yenile</span>
  
        </div>
  
        <div (click)="filtrele()" class="button-grup">
          <div class="img-container">
            <img src="../../../../../assets/icons/filter.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Filtrele</span>
  
        </div>
  
        <div class="button-grup disabled">
          <div class="img-container">
            <img src="../../../../../assets/icons/printer.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Yazdır</span>
  
        </div>
  
  
        <div class="button-grup " [ngClass]="buttonDisabled?'disabled':''" aria-expanded="false"
          data-bs-toggle="dropdown">
          <div class="img-container">
            <img src="../../../../../assets/icons/other.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label">Diğer</span>
  
        </div>
  
        <ul class="dropdown-menu dropdown-action-menu" style="z-index: 9999;">
          <li type="button">
            <a class="dropdown-item dropdown-action-item">Teklif Al</a>
          </li>
          <li type="button">
            <a class="dropdown-item dropdown-action-item">Sipariş Ver</a>
          </li>
  
  
  
        </ul>
  
  
        <p-divider layout="vertical"></p-divider>
  
  
        <div class="button-grup " [ngClass]="buttonDisabled?'disabled':''" aria-expanded="false"
          data-bs-toggle="dropdown">
          <div class="img-container">
            <img src="../../../../../assets/icons/irsaliye/irsaliye.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label" style="display: flex !important;">İrsaliye <i
              class="fa-solid fa-sort-down sort-down-icon" style="margin-left: 5px;display: flex;  color: rgb(121, 1, 1); opacity: 0.8;
          justify-content: center;
          align-items: center;"></i></span>
  
        </div>
  
        <ul class="dropdown-menu dropdown-action-menu" style="z-index: 9999;">
          <li type="button" style="    display: flex;
        justify-content: center;
        align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Alış İrsaliyesi</a>
          </li>
          <li type="button" style="    display: flex;
        justify-content: center;
        align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Satış İrsaliyesi</a>
          </li>
  
  
  
  
        </ul>
  
        <div class="button-grup " [ngClass]="buttonDisabled?'disabled':''" aria-expanded="false"
          data-bs-toggle="dropdown">
          <div class="img-container">
            <img src="../../../../../assets/icons/fatura/fatura.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label" style="display: flex !important;">Fatura <i
              class="fa-solid fa-sort-down sort-down-icon" style="margin-left: 5px;display: flex;  color: rgb(121, 1, 1); opacity: 0.8;
          justify-content: center;
          align-items: center;"></i></span>
  
        </div>
  
        <ul class="dropdown-menu dropdown-action-menu" style="z-index: 9999;">
          <li type="button" style="    display: flex;
        justify-content: center;
        align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Alış Faturası</a>
          </li>
          <li type="button" style="    display: flex;
        justify-content: center;
        align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Satış Faturası</a>
          </li>
  
  
  
  
        </ul>
  
  
  
  
  
  
  
  
  
        <div class="button-grup " [ngClass]="buttonDisabled?'disabled':''" aria-expanded="false"
          data-bs-toggle="dropdown">
          <div class="img-container">
            <img src="../../../../../assets/icons/satinalma/teklif.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label" style="display: flex !important;">Teklif <i
              class="fa-solid fa-sort-down sort-down-icon" style="margin-left: 5px;display: flex;  color: rgb(121, 1, 1); opacity: 0.8;
            justify-content: center;
            align-items: center;"></i></span>
  
        </div>
  
        <ul class="dropdown-menu dropdown-action-menu" style="z-index: 9999;">
          <li type="button" style="    display: flex;
          justify-content: center;
          align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Alınan Teklif</a>
          </li>
          <li type="button" style="    display: flex;
          justify-content: center;
          align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Verilen Teklif</a>
          </li>
  
  
  
  
        </ul>
  
  
  
        <div class="button-grup " [ngClass]="buttonDisabled?'disabled':''" aria-expanded="false"
          data-bs-toggle="dropdown">
          <div class="img-container">
            <img src="../../../../../assets/icons/satis/siparis.png" alt="">
          </div>
          <span class="d-none d-sm-inline button-label" style="display: flex !important;">Sipariş <i
              class="fa-solid fa-sort-down sort-down-icon" style="margin-left: 5px;display: flex;  color: rgb(121, 1, 1); opacity: 0.8;
            justify-content: center;
            align-items: center;"></i></span>
  
        </div>
  
        <ul class="dropdown-menu dropdown-action-menu" style="z-index: 9999;">
          <li type="button" style="    display: flex;
          justify-content: center;
          align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Alınan Sipariş</a>
          </li>
          <li type="button" style="    display: flex;
          justify-content: center;
          align-items: center;">
            <a class="dropdown-item dropdown-action-item" style="padding: 3px 20px 3px 5px;">
  
              <i class="fa-solid fa-bolt" style="color: rgb(88, 52, 52);"></i>
              Verilen Sipariş</a>
          </li>
  
  
  
  
        </ul>
  
      </div>
  
    </div>
  
  
  
    <div full-page>
      <as-split [useTransition]="true" unit="percent" [gutterSize]="10" class="as-horizontal">
        <as-split-area [size]="15" [order]="1" [visible]="filter" class="split-left">
  
          <p-accordion [multiple]="false">
            <p-accordionTab [selected]="item.accordionSelected" [header]="item.header"
              *ngFor="let item of filterObj; let i=index">
  
              <p-listbox #pListbox (onChange)="filterListbox($event,item.field)" [options]="item.options"
                [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" [optionLabel]="item.field"
                [listStyle]="{'max-height':'250px'}" [style]="{'width':'100%'}">
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div class="cut-text"> {{country[item.field]}} </div>
  
                  </div>
                </ng-template>
              </p-listbox>
            </p-accordionTab>
  
  
          </p-accordion>
  
        </as-split-area>
  
        <as-split-area [size]="85" [order]="2" [visible]="true" class="main-content">
  
          <ag-grid-angular #agGrid style="height:calc(100vh - 180px);" class="ag-theme-quartz" [rowData]="rowData"
            [defaultColDef]="defaultColDef" [columnDefs]="colDefs" (rowDoubleClicked)="rowDblClick($event)"
            (gridReady)="getList($event)" (selectionChanged)="rowClick()" [rowSelection]="rowSelection" [rowHeight]="22"
            [headerHeight]="23" [localeText]="localeText">
          </ag-grid-angular>
  
        </as-split-area>
  
  
      </as-split>
    </div>
  
  
  </app-design>