
<nav class="breadcrumbs">
    <a class="unavailable">Stok</a>
    <a class="unavailable">{{stateData.ad}}</a>
    <a class="unavailable">Stok Hareketleri</a>
   <!-- <a class="unavailable">Lower Airways</a>
    <a class="current">Carina</a>
    <a class="right">Take Exam</a> -->
  </nav>
<div class="demo-container" style="position: relative;">
    <div class=" yks-filemanager" style="height: 791px;">

        <div class=" yks-drawer">
            <div class="yks-drawer-wrapper">
                <div class="yks-drawer-content deneme"
                    style="transform: translate(0px, 0px); padding: 0px; left: 0px; ">

                    <div class="yks-filemanager-notification-drawer-panel">

                        <div class="yks-filemanager-wrapper">


                            <!-- <div class="yks_control_panel">
                                <div class="yks_cpanel_top">
                                    <div class="yks_cpanel_top_left">
                                        <div>
                                            <div class=" yks-toolbar-item ">
                                                <div class="yks-button-has-text"
                                                    style=" font-size: 18px; font-weight: 500; color: #66598f;">
                                                 
                                                    <a class="title-router"
                                                        [routerLink]="['/stok/stok']">Stoklar</a>
                                                    <span style="margin: 0 5px;">/</span>
                                                    <a class="title-router"
                                                        (click)="titleRouter()">{{stateData.ad}}</a>
                                                    <span style="margin: 0 5px;">/</span>
                                                    <a class="title-router" >Aksiyonlar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="yks_cpanel_top_right"></div>
                                </div>
                            </div> -->
                            <div class="yks_control_panel">
                                <div class="yks_cpanel_top">
                                    <div class="yks_cpanel_top_left">
                                        <div>


                                            <div class=" yks-toolbar-item ">


                                                <div class="yks-button-has-text">
                                                    <ul class="yks-menu-items-container"
                                                        style="    display: flex; align-items: center; justify-content: center;">

                                                        <li (click)="titleRouter()" class="yks-menu-item-wrapper yks-download-btn cursor-pointer"style="margin: 0 2px;" >
                                                            <div class="">
                                                              <div class="yks-menu-item-content">
                                                                <i class="fa fa-arrow-left"></i>
                                                                <span class="d-none d-sm-inline ml-1 "
                                                                          style="font-size: 13px;">Geri</span>
                                                              </div>
                                                            </div>
                                                          </li>



                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="yks_cpanel_top_right" style="display: flex; justify-content: end;">


                                    </div>
                                </div>




                            </div>



                            <div class="yks-filemanager-container">
                                <div class="yks-drawer">
                                    <div class="yks-drawer-wrapper">
                                        <div id="filter_menu"
                                            class="yks-drawer-panel-content yks-drawer-panel-content-initial"
                                            style="margin-left: 0px; display: none; border: 1px solid #c1c1c1;">
                                        </div>
                                        <div class="yks-drawer-content" style="padding: 0px;">
                                            <div class=" yks-filemanager-breadcrumbs"></div>

                                            <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;">




                                                <div>
                                                    <div class="pane" style="padding: 1em;">
                                                        <div class="grid">
                                                            <div class="col-12 lg:col-6 xl:col-6 pl-4">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <span
                                                                                    style="font-weight: 600; font-size: 13px;">
                                                                                    Stok Adı </span>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span
                                                                                    style="font-weight: 600; font-size: 18px;">
                                                                                    <i class="fa fa-star"
                                                                                        style="color: #f3cc00; font-size: 22px;"></i>
                                                                                    {{stateData.ad}}
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>

                                                    <div class="grid">
                                                        <div class="col-12 lg:col-6 xl:col-6 pl-4">
                                                            <table class="yks_table_group" style="margin-left: 3rem;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="yks_td_label"></td>
                                                                        <td style="width: 100%; "></td>
                                                                    </tr>


                                                                    <tr class="table_row_group">
                                                                        <td class="yks_td_label"
                                                                            style="border-left: #000000;">

                                                                            <label
                                                                                style=" min-width: 80px; font-weight: 600; font-size: 13px;">Stok
                                                                                Kodu
                                                                            </label>
                                                                        </td>

                                                                        <td style="width: 100%;"
                                                                            class="table_row_group">
                                                                            <label
                                                                                style=" min-width: 80px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                                {{stateData.kod}}
                                                                            </label>
                                                                        </td>

                                                                    </tr>
                                                                    <tr class="table_row_group">
                                                                        <td class="yks_td_label"
                                                                            style="border-left: #000000;">

                                                                            <label
                                                                                style=" min-width: 80px; font-weight: 600; font-size: 13px;">Birim
                                                                            </label>
                                                                        </td>

                                                                        <td style="width: 100%;"
                                                                            class="table_row_group">
                                                                            <label
                                                                                style=" min-width: 80px; font-weight: 600; font-size: 13px; color: #666666;">
                                                                                {{stateData.birimAdi}}
                                                                            </label>
                                                                        </td>

                                                                    </tr>

                                                                    <tr class="table_row_group">
                                                                        <td class="yks_td_label"
                                                                            style="border-left: #000000;">



                                                                        </td>

                                                                        <td style="width: 100%;"
                                                                            class="table_row_group">
                                                                            <label class="font-italic"
                                                                                style=" min-width: 80px; font-size: 13px; color: #666666;">
                                                                                Stoklanabilir ürünler envanter
                                                                                seviyesini yönettiğin fiziksel
                                                                                maddelerdir.
                                                                            </label>
                                                                        </td>
                                                                    </tr>






                                                                </tbody>
                                                            </table>

                                                        </div>


                                                        <div class="col-12 lg:col-6 xl:col-6 pl-4 pr-4">


                                                        </div>


                                                        <div class="col-12 lg:col-12 xl:col-12 pl-4 pr-4">

                                                            <!-- <ag-grid-angular
                                                            style="width: 100%;min-height: 315px; height:100%;"
                                                            class="ag-theme-quartz" [rowData]="rowData"
                                                            [columnDefs]="colDefs"
                                                            [rowSelection]="rowSelection"
                                                            [rowHeight]="30" [headerHeight]="29"
                                                            [components]="frameworkComponents">
                                                        </ag-grid-angular> -->

                                                            <tab-main>
                                                                <tab-item [tabTitle]="'Depo Toplamları'">
                                                                    <div style="height: 315px;">
                                                                        <ag-grid-angular
                                                                            style="width: 100%;min-height: 315px; height:100%;"
                                                                            class="ag-theme-quartz"
                                                                            [rowData]="rowDataDepoToplam"
                                                                            [columnDefs]="colDepoToplam"
                                                                            [rowSelection]="rowSelection"
                                                                            [rowHeight]="30" [headerHeight]="29"
                                                                            [components]="frameworkComponents">
                                                                        </ag-grid-angular>
                                                                    </div>

                                                                </tab-item>
                                                                <tab-item [tabTitle]="'İşlemler'">
                                                                    <div style="height: 315px;">
                                                                        <ag-grid-angular
                                                                            style="width: 100%;min-height: 315px; height:100%;"
                                                                            class="ag-theme-quartz"
                                                                            [rowData]="rowDataIslemler"
                                                                            [columnDefs]="colIslemler"
                                                                            [rowSelection]="rowSelection"
                                                                            [rowHeight]="30" [headerHeight]="29"
                                                                            [components]="frameworkComponents">
                                                                        </ag-grid-angular>
                                                                    </div>
                                                                </tab-item>
                                                                <tab-item [tabTitle]="'Kull. Reçeteler'">

                                                                </tab-item>
                                                                <tab-item [tabTitle]="'Barkodlar'">

                                                                </tab-item>
                                                                <tab-item [tabTitle]="'Cariler'">

                                                                </tab-item>
                                                            </tab-main>



                                                        </div>




                                                    </div>





                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>