@import "src/assets/custom/custom-create-page";
@import "src/assets/custom/custom-crud-button";

:host ::ng-deep{
    .mdc-checkbox{
        padding: 0;
    }
    .mdc-checkbox .mdc-checkbox__background{
        top: 0;
        left: 0;
    }
    .mdc-checkbox .mdc-checkbox__native-control {
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .mat-mdc-checkbox-touch-target {
        height: 100%;
        width: 100%;
    }
}











body {
    background:#f7f6f6;
  }
  
  .stepper {
    display: flex;
    width: 60rem;
    list-style: none;
    position: relative;
    
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      content: "";
      width: calc(100% - 20px);
      background: #e7e7e7;
    }
  }
  
  .stepper__item {
    flex: 100%;
    padding: 20px 20px 20px 40px;
    background: #a5a5a5;
    margin: 0 0 0 -19px;
    -webkit-clip-path: polygon(20px 50%, 0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
    
    &.current {
        background: #a5a5a5;
        border-color: #e7e9ed;
      font-weight: bold;
    }
    
    &.complete {
        background: #00666b;
        border-color: #01373a;
        color: #111827;
    }
    
    &:first-child {
      padding: 20px;
      -webkit-clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
    }
    
    &:last-child {
      -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }