<tr class="table_row_group">
    <td class="yks_td_label" style="border-left: #000000;">
        <label style=" min-width: 160px; font-weight: 600; font-size: 13px;">{{label}} </label>
    </td>



    <td style="width: 100%;" class="table_row_group" select="[input-tr]">
        <input [formControl]="formControlNames" [(ngModel)]="field" [ngClass]="selectClass"  currencyInput
         style="
            padding: 0px 0 0px 0.75rem;
            font-size: 13px;
            border-radius: 1px;
            background-color: rgb(210, 210, 255) !important;
            border: 1px solid rgb(145, 145, 243);" type="text" class="form-control shadow-none"
            id="exampleFormControlInput1">
    </td>
</tr>