<!-- <nav>
  <ul>
    <li (click)="insertComponent('deneme')">DENEME</li>
    <li (click)="insertComponent('deneme2')">DENEME 2</li>
  </ul>
</nav> -->




<div>

</div>


<nav style="padding-right:55px" role="navigation" aria-labelledby="block-bootstrap-ici-grid-menu--1-menu"
  id="block-bootstrap-ici-grid-menu--1" class="contextual-region" data-block-plugin-id="system_menu_block:main">
  <h2 class="sr-only" id="block-bootstrap-ici-grid-menu--1-menu">Topical navigation</h2>
  <ul class="menu nav navbar-nav">
    <!-- <li class="" (click)="visibleSidebar4 = true" [routerLink]="['/pages/router-test']">
      <a>
        <span class="work-area-icon">
          <span class="icon-placeholder" style="background-color: transparent;"><img
              src="../../../assets/in-stock (1).png" width="100px" height="100px" alt=""></span>
        </span>
        <span class="work-area-title">Stok</span>
      </a>
    </li> -->

    <!-- <li class="" (click)="visibleSidebar4 = true" [routerLink]="['/pages/test/router-test-2']">
      <a>
        <span class="icon-placeholder" style="background-color: transparent;"><img src="../../../assets/order-fulfillment.png"
          width="100px" height="100px" alt=""></span>
        <span class="work-area-title">Satın Alma</span>
      </a>
    </li>
    <li class="">
      <a>
        <span class="icon-placeholder" style="background-color: transparent;"><img src="../../../assets/sales.png"
          width="100px" height="100px" alt=""></span>
        <span class="work-area-title">Satış</span>
      </a>
    </li>
    <li class="">
      <a>
        <span class="icon-placeholder" style="background-color: transparent;"><img src="../../../assets/procurement.png"
          width="100px" height="100px" alt=""></span>
        <span class="work-area-title">Üretim</span>
      </a>
    </li>
    <li class="">
      <a>
        <span class="icon-placeholder" style="background-color: transparent;"><img src="../../../assets/budget.png"
          width="100px" height="100px" alt=""></span>
        <span class="work-area-title">Finans</span>
      </a>
    </li>
    <li class="">
    </li> -->


    <li *ngFor="let item of denemeListe; let index=index" class="" >
      <a (click)="item.router()">
        <span class="work-area-icon">
          <span class="icon-placeholder" style="background-color: transparent;"><img [src]="item.icon" width="100px"
              height="100px" alt=""></span>
        </span>
        <span class="work-area-title">{{item.label}}  {{index}}</span>
      </a>
    </li>
  </ul>
</nav>
 <!-- <p-sidebar [fullScreen]="true" [showCloseIcon]="true" [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="9999999">
  <router-outlet></router-outlet>
</p-sidebar>   -->

<!-- <main>
  <app-tab-control></app-tab-control>
</main> -->