@import "src/assets/scss/caption";
@import "src/assets/scss/section";


// :host ::ng-deep{
//     .mat-mdc-tab.mdc-tab {
//         flex-grow: 0 !important;
//         height: 30px;
//     }
//     .mat-mdc-tab-body-wrapper {

//         height: calc(100vh - 180px);
//     }
//     mat-tab-header{
//         height: 30px !important;
//     }

//     .mat-mdc-tab-body-wrapper {
//         height: calc(100vh - 210px);
//     }
//     .mat-mdc-tab .mdc-tab__text-label {
//         color: var(--mat-tab-header-inactive-label-text-color);
//         display: inline-flex;
//         align-items: center;
//         font-size: 12px;
//     }
// }

.disabled{
   opacity: 0.5;
}























/* Fitting */
.panel .panel-heading .nav.nav-tabs {
    position:relative;
    bottom:-5px;
    height:29px;
    border:none;
    margin-top:-9px;
    margin-left:-9px;
 }
 
 .panel .panel-heading .nav.nav-tabs li a {
    height:35px;
    line-height:17px;
    border:1px solid transparent;
 }
 
 .panel .panel-heading .nav.nav-tabs li:not(.active) a:hover,
 .panel .panel-heading .nav.nav-tabs li:not(.active) a:focus {
    background:rgba(0, 0, 0, 0.05);
    
 }
 
 .panel .panel-heading .nav.nav-tabs li.active a {
    border:1px solid #407AB9;
    border-bottom-color: transparent !important;
    background:#FFF;
    color: rgb(92, 2, 2) !important;
    // color: #3f51b5 !important;
 }
 
 .panel-heading {
    padding: 5px 15px;
}
 /* Colors */
 .panel.panel-default .panel-heading .nav.nav-tabs li a { color: #555;font-size: 12px; }
 .panel.panel-default .panel-heading .nav.nav-tabs li.active a { border-color:#DDDDDD;}


 .tab-item{
    display: flex;
                text-align: center;
                align-items: center;
                padding: 5px 10px;
 }
 
