<div class="portHeadLightMenu" style="display: flex;align-items: center;justify-content: center;">
    <ul style="display: flex; position: relative;">
        <li>
            <a (click)="show()" style="cursor: pointer;">ayarlar</a>
            <ul *ngIf="deneme" [ngStyle]="{'display':display,'opacity':opacity}">
                <li>item 1</li>
            </ul>
        </li>
    </ul>
</div>







<input type="text"  placeholder="Bir şey yazın" (keyup.enter)="onButtonClick()" style="outline: 0;"/>
<button (click)="onButtonClick()">+</button>
<p *ngIf="message">{{ message }}</p>