@import "src/assets/custom/custom-create-page";
@import "src/assets/custom/custom-crud-button";

:host ::ng-deep{
    .mdc-checkbox{
        padding: 0;
    }
    .mdc-checkbox .mdc-checkbox__background{
        top: 0;
        left: 0;
    }
    .mdc-checkbox .mdc-checkbox__native-control {
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .mat-mdc-checkbox-touch-target {
        height: 100%;
        width: 100%;
    }
}



  
  

