@import "src/assets/custom/custom-list-page";


.card-header{
    color: #6c757d !important;
    font-size: 14px;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-bottom: 0;
}

.card-body{
    background-color: rgba(0, 0, 0, 0.005);
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 0 solid rgba(0, 0, 0, .125);
}
.text-muted{
    color: #6c757d !important;
}
.small{
    color: #6c757d !important;
    font-size: 13px !important;
    font-style: italic !important;

}