@import "src/assets/custom/custom-list-page";

//p-accordion
:host ::ng-deep {
    p-accordion  .p-accordion .p-accordion-header .p-accordion-header-link {
     
     border: none; 
     box-shadow: none;
       background: transparent; 

    }
    p-accordion .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
    }

    p-accordion.p-element{
        width: 100%;
    }
    
    p-accordion  .p-accordion-header-text {
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
    p-accordion  .p-accordion-toggle-icon .p-icon{
        width: 10px;
        height: 10px;
    }
    p-accordion  .p-accordion .p-accordion-header .p-accordion-header-link {
        padding: 0.5rem;
    }
    p-accordion  .p-accordion .p-accordion-content {
        padding:0;

    }

    p-accordion  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {

        // color: #2ea100;
        color: #730202;

    }

    p-accordion .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link{
        color: #730202;
    }
    p-accordion .p-accordion .p-accordion-header .p-accordion-header-link{
        color: #730202;
    }

    // p-accordion  .p-accordion-content{
    //   height: 250px;
    //   overflow: auto;
    // }

}
//p-listbox
:host ::ng-deep{
    p-listbox .p-inputtext {
        padding: 0;

    }
    p-listbox .p-listbox-filter {
        box-shadow: none !important;
        border: 1px solid #ced4da;
    }
    p-listbox .p-listbox .p-listbox-list .p-listbox-item {
        
        padding: 0.25rem 1.25rem;

    }
    p-listbox .p-checkbox .p-checkbox-box {

        width: 16px;
        height: 16px;

    }
    p-listbox  .p-checkbox {
        width: 16px;
        height: 16px;
    }
    p-listbox .country-item{
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
    p-listbox .p-listbox {
        border-radius: 0;
    }
    p-listbox  .p-listbox .p-listbox-header {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    p-listbox  .p-listbox .p-listbox-list .p-listbox-item:focus{
        box-shadow: none;
    }    
}
//p-dropdown
:host ::ng-deep{
    p-dropdown {
        display: contents;
    }
    p-dropdown .p-inputtext{
       padding: 0 0 0 5px;
    }
   p-dropdown .p-dropdown{
       border-radius: 0;
    }
    p-dropdown .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }
    p-dropdown  .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        padding: 0.2rem 1.25rem;
    }
    p-dropdown  .p-dropdown-panel {

        border-radius: 0px;
        box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.5);
    }
    
}

//ag-grid-angular
:host ::ng-deep{
    ag-grid-angular .ag-header-cell, .ag-header-group-cell{
        padding-left: 0;
    }
    ag-grid-angular .ag-header-cell-text {
        margin-left: 1rem;
    }
  ag-grid-angular input[class^=ag-]:not([type]):focus,
  ag-grid-angular input[class^=ag-][type=text]:focus,
  ag-grid-angular input[class^=ag-][type=number]:focus,
  ag-grid-angular input[class^=ag-][type=tel]:focus,
  ag-grid-angular input[class^=ag-][type=date]:focus,
  ag-grid-angular input[class^=ag-][type=datetime-local]:focus,
  ag-grid-angular textarea[class^=ag-]:focus {
       box-shadow: none;
       background-color: color-mix(in srgb, transparent, #2196f3 20%);;
    }


    ag-grid-angular  .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within{
        border-color:transparent ;
    }
    .ag-header-icon.ag-header-cell-menu-button{
        display: none ;
    }

    ag-grid-angular .ag-cell{
        padding-left: 4px;
    }
    ag-grid-angular .ag-row-hover{
        background-color: color-mix(in srgb, transparent, #2196f3 5%);;
    }
    ag-grid-angular .ag-row-selected{
        background-color: color-mix(in srgb, transparent, #2196f3 40%);;
 
    }
    ag-grid-angular .ag-row-selected .ag-cell {
        
        color: rgb(0, 0, 0);
    }
}


:host ::ng-deep{
    .mdc-list {
        padding: 0;

    }
    .mdc-list-item.mdc-list-item--with-one-line{
        height: 2rem;
    }
}