






<div class="modal-header ">
    <h4 class="modal-title"></h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
</div>



<div class="">
    <div class="container-fluid">
        <div class="panel header" data-resize-name="header">
            <div class="content">
                <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
                    <div class="action-items" style="width: 100%; display: flex; align-items: center;">

                        <div class="action-left">
                            <div class="btn-group ml-1 mr-1">

                                <div class="button-container">

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/add-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Yeni</span>
                                        <!-- <i class="fa-solid fa-sort-down sort-down-icon"></i> -->
                                    </div>

                                    <div (click)="Kaydet()" class="button-grup ">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/save.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Kaydet</span>

                                    </div>

                                    <div class="button-grup disabled">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/delete-file.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Sil</span>

                                    </div>

                                    <div (click)="cikis()" class="button-grup">
                                        <div class="img-container">
                                            <img src="../../../../../assets/icons/close.png" alt="">
                                        </div>
                                        <span class="d-none d-sm-inline button-label">Çıkış</span>

                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div style="overflow-x: auto; line-height: 27px; padding: 5px;">
            <form [formGroup]="frm">
                <div style="display: grid;grid-template-columns: auto;padding: 0 10px;">





                    <div style="display: grid;grid-template-columns: auto auto auto ;padding: 0 10px;">
      


                        <!-- <app-form-label [formControlNames]="ad" [span]="130" [label]="'Reçete Adı '" [field]="data?.ad"
                        style="grid-column: 1/span 2;"></app-form-label>
                    <app-form-label [formControlNames]="kod" [span]="130" [label]="'Reçete Kodu '" [field]="data?.kod"
                        style="grid-column: 1/span 2;"></app-form-label>
    
    
                    <div style="border-top: 1px solid #dee2e6;
                    border-bottom: 1px solid #dee2e6; 
                    padding-left: 10px; color: #6b6b6b;
                    background-color: #f7f7f7;
                    grid-column: 1/span 3; 
                    font-size: 14px;">
                        Stok Bilgileri
                    </div>
                    <app-form-input-select style="grid-column: 1/span 2;" [field]="selectedStok?.ad?selectedStok?.ad: data.stokAdi"
                        (childFunc)="StokChildFunc($event)" [component]="StokSelectModalComponent"
                        [formControlNames]="stokId" [span]="130" [label]="'Stok '"></app-form-input-select>
    
                    <app-form-label [formControlNames]="stokKodu" [span]="130" [label]="'Stok Kodu '" [field]="selectedStok?.kod?selectedStok?.kod: data.stokKodu"
                        style="grid-column: 1/span 2;"></app-form-label>
                    <app-form-label [formControlNames]="birimAdi" [span]="130" [label]="'Birim '" [field]="data?.birimAdi"
                        style="grid-column: 1/span 1;"></app-form-label> -->














                         <app-form-label [formControlNames]="ad" [span]="130" [label]="'Reçete Adı '" [field]="data?.ad"></app-form-label>
                         <app-form-input-select  [field]="selectedStok?.ad"(childFunc)="StokChildFunc($event)" [field]="selectedStok?.ad?selectedStok?.ad: data.stokAdi"
                          [component]="StokSelectModalComponent"[formControlNames]="stokId" [span]="130" [label]="'Stok '"  style="grid-column: 2/span 2;"></app-form-input-select>

                        <app-form-label [formControlNames]="kod" [span]="130" [label]="'Reçete Kodu '" [field]="data?.kod"></app-form-label>
        
                        <app-form-label [formControlNames]="stokKodu" [span]="130" [label]="'Stok Kodu '" [field]="selectedStok?.kod?selectedStok?.kod: data.stokKodu"  style="grid-column: 2/span 2;" ></app-form-label>
                        <div></div>
                        <app-form-label  [formControlNames]="birimAdi" [span]="130" [label]="'Birim '" [field]="data?.birimAdi" 
                        style="grid-column: 2/span 2; width: 100px;"></app-form-label>






                       









                            <div style="border-top: 1px solid #dee2e6;
                            border-bottom: 1px solid #dee2e6; 
                            padding-left: 10px; color: #6b6b6b;
                            background-color: #f7f7f7;
                            color: rgb(119, 0, 0);
                            font-weight: 600;
                            grid-column: 1/span 3; 
                            text-align: center;
                            font-size: 14px;">
                                        Hareket Bilgileri
                                    </div>
                
                                    <ag-grid-angular style="width: 100%;height: 300px;  margin-top: 4px;grid-column: 1/span 3; "
                                        class="ag-theme-quartz" [rowData]="rowData" [columnDefs]="colDefs" (gridReady)="getList($event)"
                                        [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23"
                                        (rowSelected)="rowClick($event)" >
                                    </ag-grid-angular>
                                    <div class="hareket-action-button-container">
                
                
                                        <div (click)="Ekle()" class="button-grup " style="display: grid;">
                                            <div class="hareket-action-img-container ">
                                                <img src="../../../../../assets/icons/add-file.png" alt="">
                                            </div>
                                            <span style="color: blue;"
                                                class="d-none d-sm-inline button-label hareket-action-button-label">Ekle</span>
                                        </div>
                
                
                                        <div (click)="deleteRowData()" class="button-grup " style="display: grid;" [ngClass]="buttonDisabled?'disabled':''">
                                            <div class="hareket-action-img-container ">
                                                <img src="../../../../../assets/icons/delete-file.png" alt="">
                                            </div>
                                            <span class="d-none d-sm-inline button-label hareket-action-button-label">Sil</span>
                                        </div>
                
                
                                        
                
                
                
                
                                    </div>






        
                    </div>





                </div>

            </form>




        </div>



    </div>












</div>


<div class="modal-footer">
   
</div>










