<!-- <form [formGroup]="frm">







    <app-design w100="width:100%;" displayNone="display:none;">

        <div design-buttons>
            <button routerLink="/menu/uretim/urun-recete/list" type="button" class="btn btn-success"
                style="padding:2px 10px; border-radius: 3px; background-color: #ffffff; border: 1px solid #e6e6e6;">
                <i class="fa fa-arrow-left" style="color: #000000; margin-right: 5px; font-weight: 700;"></i>
                <span class="d-none d-sm-inline" style="font-size: 13px;color: #000000; ">Geri</span>
            </button>
            <button type="button" class="btn btn-success"
                style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
                <i class="fa fa-check" style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
                <span class="d-none d-sm-inline" style="font-size: 13px;">Kaydet</span>
            </button>
            <button type="button" class="btn "
                style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
                <i class="fa fa-times" style="color: #000; margin-right: 5px; font-weight: 600;"></i>
                <span class="d-none d-sm-inline" style="font-size: 13px;">Vazgeç</span>
            </button>
        </div>





        <div full-page style="height: 100%;">
            <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;">
                <div class="grid">

                    <div class="col-12 lg:col-4 xl:col-4 pl-4" >
                        <div class="mt-1" style="border: 1px solid #ddd">
                            <div class="form-title pl-2" style="font-weight: 500;">
                                Recete Bilgileri
                            </div>
                            <table class="yks_table_group">
                                <tbody>
                                    <tr>
                                        <td class="yks_td_label"></td>
                                        <td style="width: 100%; "></td>
                                    </tr>




                                    <tr class="table_row_group">
                                        <td class="yks_td_label" style="border-left: #000000; text-align: end;">

                                            <label style=" min-width: 50px; font-weight: 600; font-size: 13px;">Stok
                                                :

                                            </label>
                                        </td>

                                        <td style="width: 100%; position: relative;" class="table_row_group">

                                            <input readonly formControlName="stokId" style=" padding: 0px 0 0px 0.75rem;
                                font-size: 13px;
                                border-radius: 1px;
                                background-color: rgb(210, 210, 255) !important;
                                border: 1px solid rgb(145, 145, 243); padding-right: 30px;" type="text"
                                                class="form-control shadow-none" id="exampleFormControlInput1">

                                            <div
                                                style="position: absolute;top: 0;right: 10px; display: flex;align-items: center;justify-content: center; height: 100%; width: 20px; ">
                                                <button class="selected-ellipsis btn selected-button">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>


                                    <tr class="table_row_group">
                                        <td class="yks_td_label" style="border-left: #000000; text-align: end;">

                                            <label style=" min-width: 90px; font-weight: 600; font-size: 13px;">Stok Kodu
                                                :
                                            </label>
                                        </td>
                                        <td>

                                            <input type="text" formControlName="referans"
                                                class="form-control shadow-none form-control-nullable"
                                                id="exampleFormControlInput1">
                                        </td>

                                    </tr>
                                    <tr class="table_row_group">
                                        <td class="yks_td_label" style="border-left: #000000; text-align: end;">

                                            <label
                                                style=" min-width: 85px; font-weight: 600; font-size: 13px;">Düzenleyen
                                                :

                                            </label>
                                        </td>

                                        <td style="width: 100%;" class="table_row_group">

                                            <label
                                                style=" min-width: 50px; font-weight: 600; font-size: 13px; color: #666666;">
                                                Recep YİĞİTER
                                            </label>
                                        </td>
                                    </tr>
                                    <tr class="table_row_group">
                                        <td class="yks_td_label" style="border-left: #000000; text-align: end;">

                                            <label
                                                style=" min-width: 85px; font-weight: 600; font-size: 13px; color: #017e84;">Açıklama
                                                :

                                            </label>
                                        </td>

                                        <td style="width: 100%;" class="table_row_group">

                                            <label
                                                style=" min-width: 100%; font-weight: 600; font-size: 13px; color: #666666;">
                                                <textarea formControlName="aciklama"
                                                    class="form-control shadow-none border-1"
                                                    style="width: 100%;max-height: 30px; border: 1px solid #d9d9d9;"></textarea>
                                            </label>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>



                    </div>





                </div>

                <div>
                    <div
                        style="padding: 0.5rem 0 0 1rem;border: 1px solid rgba(0, 0, 0, 0.15); display: grid; grid-template-columns: 70px 90px 50px 115px;  gap: 2px;">
                        <button mat-icon-button style="width: 70px; " color="primary"
                            aria-label="Example icon button with a home icon">

                            <mat-icon style="font-size: 18px; font-weight: 600;">add</mat-icon>
                            <label style="font-weight: 600; font-size: 14px; color: #666666;">Ekle</label>
                        </button>
                        <button mat-icon-button style="width: 90px;" color="primary"
                            aria-label="Example icon button with a home icon">
                            <mat-icon
                                style="font-size: 18px; font-weight: 600; color: rgb(145, 145, 145);">edit</mat-icon>
                            <label style="font-weight: 600; font-size: 14px; color: #666666;">Düzenle</label>
                        </button>
                        <button mat-icon-button style="width: 50px;" color="primary"
                            aria-label="Example icon button with a home icon">
                            <mat-icon style="font-size: 18px; font-weight: 600;color: rgb(172, 0, 0);">delete</mat-icon>
                            <label style="font-weight: 600; font-size: 14px; color: #666666;">Sil</label>
                        </button>




                    </div>
                    <ag-grid-angular style="width: 100%;min-height: 190px; height:100px; margin-top: 4px;"
                        class="ag-theme-quartz" [rowData]="rowData" [columnDefs]="colDefs" (gridReady)="getList($event)"
                        [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23">
                    </ag-grid-angular>










                </div>
            </div>
        </div>

    </app-design>



</form> -->





<div class="modal-header ">
    <h4 class="modal-title"></h4>
    <h4 class="modal-title"> </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
</div>



<div class="">

    <div style="overflow-x: auto; line-height: 27px; padding-top: 10px;">
        <form [formGroup]="frm">
            <div style="display: grid;grid-template-columns: auto auto auto;padding: 0 10px;">
                <div style="border-top: 1px solid #dee2e6;
         border-bottom: 1px solid #dee2e6; 
         padding-left: 10px; color: #6b6b6b;
         background-color: #f7f7f7;
         grid-column: 1/span 3; 
         font-size: 14px;">
                    Reçete Bilgileri
                </div>



                <app-form-label [formControlNames]="ad" [span]="130" [label]="'Reçete Adı '"
                    style="grid-column: 1/span 2;"></app-form-label>
                <app-form-label [formControlNames]="kod" [span]="130" [label]="'Reçete Kodu '"
                    style="grid-column: 1/span 2;"></app-form-label>


                <div style="border-top: 1px solid #dee2e6;
                border-bottom: 1px solid #dee2e6; 
                padding-left: 10px; color: #6b6b6b;
                background-color: #f7f7f7;
                grid-column: 1/span 3; 
                font-size: 14px;">
                    Stok Bilgileri
                </div>
                <app-form-input-select style="grid-column: 1/span 2;" [field]="selectedStok?.ad"
                    (childFunc)="StokChildFunc($event)" [component]="StokSelectModalComponent"
                    [formControlNames]="stokId" [span]="130" [label]="'Stok '"></app-form-input-select>

                <app-form-label [formControlNames]="stokKodu" [span]="130" [label]="'Stok Kodu '" [field]="selectedStok?.kod"
                    style="grid-column: 1/span 2;"></app-form-label>
                <app-form-label [formControlNames]="birimAdi" [span]="130" [label]="'Birim '" [field]="selectedStok?.birimAdi"
                    style="grid-column: 1/span 1;"></app-form-label>

            </div>

        </form>




    </div>







</div>


<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit()"
        style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
        <i class="fa fa-check" style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
        <span class="d-none d-sm-inline" style="font-size: 13px;">Kaydet</span>
    </button>
    <button type="button" class="btn " (click)="activeModal.close(false)"
        style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
        <i class="fa fa-times" style="color: #000; margin-right: 5px; font-weight: 600;"></i>
        <span class="d-none d-sm-inline" style="font-size: 13px;">Vazgeç</span>
    </button>
</div>