<div class="modal-header ">
  <h4 class="modal-title"></h4>
  <h4 class="modal-title"> </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
</div>



<div class="">
  <div class="container-fluid">
    <div class="panel header" data-resize-name="header">
      <div class="content">
        <div class="actions" style="padding: 2px 0px 2px 0px; display: flex;">
          <div class="action-items" style="width: 100%; display: flex; align-items: center;">

            <div class="action-left">
              <div class="btn-group ml-1 mr-1">

                <div class="button-container">

                  <div class="button-grup disabled">
                    <div class="img-container">
                      <img src="../../../../../assets/icons/add-file.png" alt="">
                    </div>
                    <span class="d-none d-sm-inline button-label">Yeni</span>
                    <!-- <i class="fa-solid fa-sort-down sort-down-icon"></i> -->
                  </div>

                  <div (click)="Kaydet()" class="button-grup ">
                    <div class="img-container">
                      <img src="../../../../../assets/icons/save.png" alt="">
                    </div>
                    <span class="d-none d-sm-inline button-label">Kaydet</span>

                  </div>

                  <div class="button-grup disabled">
                    <div class="img-container">
                      <img src="../../../../../assets/icons/delete-file.png" alt="">
                    </div>
                    <span class="d-none d-sm-inline button-label">Sil</span>

                  </div>

                  <div (click)="cikis()" class="button-grup">
                    <div class="img-container">
                      <img src="../../../../../assets/icons/close.png" alt="">
                    </div>
                    <span class="d-none d-sm-inline button-label">Çıkış</span>

                  </div>




                </div>


              </div>
            </div>


          </div>

        </div>


      </div>
    </div>



    <div style="overflow-x: auto; line-height: 27px; padding: 5px;">
      <form [formGroup]="frm">
        <div style="display: grid;grid-template-columns: auto auto auto;padding: 0 10px;">

          <app-form-date [formControlNames]="duzenlemeTarihi" [span]="130" [label]="'Düz. Tarihi'"></app-form-date>
          <app-form-input-select [field]="selectedCari?.ad" (childFunc)="CariChildFunc($event)"
            [component]="CariSelectModalComponent" [formControlNames]="cariId" [span]="130"
            [label]="'Cari'"></app-form-input-select>
          <!-- <app-form-label  [formControlNames]="irsaliyeTuru" [span]="130" [label]="'İrsaliye Türü'"></app-form-label> -->
          <app-form-dropdown (valueChangeFunc)="valueChangeFunc($event)" [formControlNames]="irsaliyeTuru" [span]="130" [label]="'İrsaliye Türü'" ></app-form-dropdown>

          <app-form-label [readOnly]="true" [field]="'AF'" [formControlNames]="seri" [span]="130"
            [label]="'Seri'"></app-form-label>
          <app-form-input-select [field]="selectedDepo?.ad" (childFunc)="DepoChildFunc($event)"
            [component]="DepoSelectModalComponent" [formControlNames]="depoId" [span]="130"
            [label]="'Depo'"></app-form-input-select>

          <app-form-label [formControlNames]="irsaliyeKodu" [span]="130" [label]="'İrsaliye Kodu'"></app-form-label>

          <app-form-label [formControlNames]="belgeNo" [span]="130" [label]="'Belge No'"></app-form-label>
          <app-form-label [formControlNames]="duzenleyen" [span]="130" [label]="'Düzenleyen'"></app-form-label>
          <app-form-label [formControlNames]="eFaturaNo" [span]="130" [label]="'e_fatura No'"></app-form-label>

          <app-form-label [formControlNames]="referans" [span]="130" [label]="'Referans'"></app-form-label>
          <app-form-number-input [field]="0" (change)="kdvChanced()" style="width: 100px;" [formControlNames]="kdv"
            [span]="130" [label]="'Kdv'"></app-form-number-input>
          <app-form-checkbox [formControlNames]="eFatura" [span]="130" [label]="'e-fatura'"></app-form-checkbox>

          <app-form-label [readOnly]="true" [field]="'Alış'" [status]="false" [formControlNames]="faturaTuru"
            [span]="130" [label]="'Fatura Türü'"></app-form-label>
          <app-form-number-input [field]="0" (change)="otvChanced()" style="width: 100px;" [formControlNames]="otv"
            [span]="130" [label]="'Otv'"></app-form-number-input>
          <app-form-checkbox [formControlNames]="eArsiv" [span]="130" [label]="'e-Arşiv'"></app-form-checkbox>






          <div style="border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6; 
            padding-left: 10px; color: #6b6b6b;
            background-color: #f7f7f7;
            color: rgb(119, 0, 0);
            font-weight: 600;
            grid-column: 1/span 3; 
            text-align: center;
            font-size: 14px;">
            Hareket Bilgileri
          </div>

          <ag-grid-angular style="width: 100%;height: 300px;  margin-top: 4px;grid-column: 1/span 3; "
            class="ag-theme-quartz" [rowData]="rowData" [columnDefs]="colDefs" (gridReady)="getList($event)"
            [rowSelection]="rowSelection" [rowHeight]="22" [headerHeight]="23" (rowSelected)="rowClick($event)"
            (cellValueChanged)="onCellValueChanged()">
          </ag-grid-angular>
          <div class="hareket-action-button-container">


            <div (click)="stokEkle()" class="button-grup " style="display: grid;">
              <div class="hareket-action-img-container ">
                <img src="../../../../../assets/icons/add-file.png" alt="">
              </div>
              <span style="color: blue;" class="d-none d-sm-inline button-label hareket-action-button-label">Ekle</span>
            </div>


            <div (click)="DeleteHareket()" class="button-grup " style="display: grid;"
              [ngClass]="buttonDisabled?'disabled':''">
              <div class="hareket-action-img-container ">
                <img src="../../../../../assets/icons/delete-file.png" alt="">
              </div>
              <span class="d-none d-sm-inline button-label hareket-action-button-label">Sil</span>
            </div>






          </div>


          <!-- <div></div>
            <div></div>
  
            <app-form-number-input [field]="frmSatirTutari" [stylesLabel]="'color: #7a0000;'" [status]="false" [formControlNames]="satirTutari" [span]="130"
              [label]="'Satır Tutarı'"></app-form-number-input>
  
            <div></div>
            <div></div>
  
            <app-form-number-input [field]="frmIskontoTutari" [stylesLabel]="'color: #7a0000;'" [status]="false" [formControlNames]="iskontoTutari" [span]="130"
              [label]="'İskonto Tut.'"></app-form-number-input>
  
            <div></div>
            <div></div>
  
            <app-form-number-input [field]="frmIskontoSonTutar" [stylesLabel]="'color: #7a0000;'" [status]="false" [formControlNames]="iskontoSonTutar" [span]="130"
              [label]="'İsk. Son Tut.'"></app-form-number-input>
  
            <div></div>
            <div></div>
  
            <app-form-number-input [field]="frmSatirKdvTutari?frmSatirKdvTutari:'0'" [stylesLabel]="'color: #7a0000;'" [status]="false" [formControlNames]="satirKdvTutari" [span]="130"
              [label]="'Satır KDV Tut.'"></app-form-number-input>
  
            <div></div>
            <div></div> -->

          <div></div>
          <div></div>
          <table class="yks_table_group ">
            <tbody>


              <tr style="height: 25px !important;">
                <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                  <label style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #7a0000;">Satır Tut. :
                  </label>
                </td>
                <td style="width: 100%;">

                  <label style=" min-width: 60px; 
                        font-weight: 600; 
                        font-size: 13px; 
                        color: #666666;">
                    <span *ngIf="frmSatirTutari==undefined">
                      {{frmSatirTutari?frmSatirTutari:"0.00 ₺"
                      }}
                    </span>
                    <span *ngIf="frmSatirTutari!=undefined">
                      {{frmSatirTutari
                      |currency:'TRY':'':'0.2-2'}} ₺
                    </span>


                  </label>
                </td>

              </tr>

              <tr style="height: 25px !important;">
                <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                  <label style=" min-width: 160px; font-weight: 600; font-size: 13px;color: #7a0000;">İsk. Tut. :
                  </label>
                </td>
                <td style="width: 100%;">

                  <label style=" min-width: 60px; 
                        font-weight: 600; 
                        font-size: 13px; 
                        color: #666666;">
                    <span *ngIf="frmIskontoTutari==undefined">
                      {{frmIskontoTutari?frmIskontoTutari:"0.00 ₺"
                      }}
                    </span>
                    <span *ngIf="frmIskontoTutari!=undefined">
                      {{frmIskontoTutari
                      |currency:'TRY':'':'0.2-2'}} ₺
                    </span>


                  </label>
                </td>

              </tr>

              <tr style="height: 25px !important;">
                <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                  <label style=" min-width: 160px; font-weight: 600; font-size: 13px;color: #7a0000;">İsk. Sonrası Tut.
                    :
                  </label>
                </td>
                <td style="width: 100%;">

                  <label style=" min-width: 60px; 
                            font-weight: 600; 
                            font-size: 13px; 
                            color: #666666;">
                    <span *ngIf="frmIskontoSonTutar==undefined">
                      {{frmIskontoSonTutar?frmIskontoSonTutar:"0.00 ₺"
                      }}
                    </span>
                    <span *ngIf="frmIskontoSonTutar!=undefined">
                      {{frmIskontoSonTutar
                      |currency:'TRY':'':'0.2-2'}} ₺
                    </span>


                  </label>
                </td>

              </tr>

              <tr style="height: 25px !important;">
                <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                  <label style=" min-width: 160px; font-weight: 600; font-size: 13px;color: #7a0000;">Satır KDV Tut. :
                  </label>
                </td>
                <td style="width: 100%;">

                  <label style=" min-width: 60px; 
                            font-weight: 600; 
                            font-size: 13px; 
                            color: #666666;">
                    <span *ngIf="frmSatirKdvTutari==undefined">
                      {{frmSatirKdvTutari?frmSatirKdvTutari:"0.00 ₺"
                      }}
                    </span>
                    <span *ngIf="frmSatirKdvTutari!=undefined">
                      {{frmSatirKdvTutari
                      |currency:'TRY':'':'0.2-2'}} ₺
                    </span>


                  </label>
                </td>

              </tr>
              <tr style="height: 25px !important;">
                <td class="yks_td_label" style="border-left: #000000; text-align: end; text-align: end;">

                  <label style=" min-width: 160px; font-weight: 600; font-size: 13px; color: #7a0000;">Toplam :
                  </label>
                </td>
                <td style="width: 100%;">

                  <label style=" min-width: 60px; 
                            font-weight: 600; 
                            font-size: 13px; 
                            color: #666666;">
                    <span *ngIf="frmToplam==undefined">
                      {{frmToplam?frmToplam:"0.00 ₺"
                      }}
                    </span>
                    <span *ngIf="frmToplam!=undefined">
                      {{frmToplam
                      |currency:'TRY':'':'0.2-2'}} ₺
                    </span>


                  </label>
                </td>

              </tr>






            </tbody>
          </table>

        </div>

      </form>






    </div>



  </div>












</div>


<div class="modal-footer">
  <!-- <button (click)="Kaydet()" type="button" class="btn btn-success" 
          style="padding:2px 10px; border-radius: 3px; background-color: #017e84;">
          <i class="fa fa-check" style="color: #fff; margin-right: 5px; font-weight: 700;"></i>
          <span class="d-none d-sm-inline" style="font-size: 13px;">Kaydet</span>
      </button>
      <button type="button" class="btn " (click)="activeModal.close(false)"
          style="padding:2px 10px; border-radius: 3px; background-color: #fdfdfd; border: 1px solid #e6e6e6;">
          <i class="fa fa-times" style="color: #000; margin-right: 5px; font-weight: 600;"></i>
          <span class="d-none d-sm-inline" style="font-size: 13px;">Vazgeç</span>
      </button> -->
</div>