<div class="ribbon-tab" id="format-tab" style="display: block; height: 93px;" unselectable="on">

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Hareketler</span>
        <div [routerLink]="['/pages/satis/create-verilen-teklif']" [routerLinkActive]="['active']"
            class="ribbon-button ribbon-button-large " id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/document_up.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/document_up.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/document_up.png">
            <span class="button-title" unselectable="on">Verilen <br> Teklif</span>
        </div>
        <div [routerLink]="['/pages/satis/create-alinan-siparis']" [routerLinkActive]="['active']"
            class="ribbon-button ribbon-button-large " id="open-table-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will open a table and add it to your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/collection_account_down.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/collection_account_down.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/collection_account_down.png">
            <span class="button-title" unselectable="on">Alınan<br>Sipariş</span>
        </div>

        <div class="ribbon-button ribbon-button-large disabled" id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/coinstack_help.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/coinstack_help.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/coinstack_help.png">
            <span class="button-title" unselectable="on">Fiyat<br>Listesi</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/currency_dollar_sign_reload.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/currency_dollar_sign_reload.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/currency_dollar_sign_reload.png">
            <span class="button-title" unselectable="on">Karttaki<br>Fiyatlar</span>
        </div>
    </div>



    <div class="ribbon-section-sep" unselectable="on"></div>

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Listeler</span>
        <div [routerLink]="['/pages/satis/verilen-teklif']"  [routerLinkActive]="['active']" class="ribbon-button ribbon-button-large " id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
            src=" ../../assets/icons/satis/contract_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
            src=" ../../assets/icons/satis/contract_clock.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
            src=" ../../assets/icons/satis/contract_clock.png">
            <span class="button-title" unselectable="on">Verilen<br>Teklif</span>
        </div>

        <!-- <div [routerLink]="['/pages/satis/alinan-siparis']" [routerLinkActive]="['active']"
            class="ribbon-button ribbon-button-large " id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/contract_clock.png">>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/contract_clock.png">>
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/contract_clock.png">>
            <span class="button-title" unselectable="on">Verilen<br>Teklif</span>
        </div> -->

        <div [routerLink]="['/pages/satis/alinan-siparis']" [routerLinkActive]="['active']"
            class="ribbon-button ribbon-button-large " id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/taxes_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/taxes_clock.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/taxes_clock.png">
            <span class="button-title" unselectable="on">Alınan<br>Sipariş</span>
        </div>
    </div>


    <div class="ribbon-section-sep" unselectable="on"></div>

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Tanımlar</span>
        <div class="ribbon-button ribbon-button-large disabled" id="add-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will add a page to your document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal"
                src=" ../../assets/icons/satis/reports_check.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot"
                src=" ../../assets/icons/satis/reports_check.png">
            <img style="width: 36px; height: 36px; opacity: 0.2;" class="ribbon-icon ribbon-disabled"
                src=" ../../assets/icons/satis/reports_check.png">
            <span class="button-title" unselectable="on">Satış<br><mat-icon>arrow_drop_down</mat-icon></span>
        </div>


    </div>


</div>