:host ::ng-deep{

    .mat-mdc-icon-button.mat-mdc-button-base{
      width: 90px;
      height: 30px;
    }
    .mat-mdc-icon-button .mat-mdc-button-touch-target{
      width: 90px !important;
      height: 30px !important;
    }
    .mat-mdc-icon-button.mat-mdc-button-base{
      padding: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .material-icons{
      font-weight: 700;
    }
    .mat-icon{
      width: 20px;
      height: 20px;
    }
    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple{
      border-radius: 0;
    }
  
  
  }