<!-- <nav class="top-bar" >
  <ul class="title-area" >
    <li class="name" [routerLink]="['/menu']">
      <i class="fa fa-home home-icon"></i>
    </li>


  </ul>

  <div role="group" style="display: grid; grid-template-columns: max-content max-content max-content;height: 100%;">

    <div class="grid-container">
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/stok/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Stoklar
        </button>
      </div>


      <div class="btn-group mr-1" role="group">
        <button style="border: none;
            display: grid;
            top: 0;
            height: 45px;
            color: white;" type="button" class="btn yks-btn topbar-button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="small fa fa-database btn-button-icon" aria-hidden="true"></i>
          Depolar
        </button>
        <ul class="dropdown-menu topbar-dropdown-menu" style="z-index: 9999;">
          <li [routerLink]="['/menu/malzeme-yonetimi/depo/list']"><a  class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Depolar</a></li>
          <li [routerLink]="['/menu/malzeme-yonetimi/depo-bazinda-stok/list']"><a class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Depo Bazında Stoklar</a></li>
         

        </ul>
      </div>





      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/birim/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Birimler
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/hizmet/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Hizmetler
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/masraf/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Masraflar
        </button>
      </div>
      

      <span class="top-footer">
        Listeler
      </span>
    </div>

    <p-divider layout="vertical"></p-divider>

  </div>

</nav> -->



<nav class="top-bar" style="height: 5.1rem; background: #ebebeb; line-height: 100%;">
  <ul class="title-area">
    <li class="name" [routerLink]="['/menu']">
      <i class="fa fa-home home-icon"></i>
    </li>


  </ul>

  <div style="display: flex;">
    <p-divider layout="vertical"></p-divider>

    <div style="display: grid;">
      <div style="height: 4.1rem;">
        <div class="buton-grup">

          <button  [routerLink]="['/menu/malzeme-yonetimi/stok/list']"  [routerLinkActive]="['active']" type="button"
            class="btn topbar-button">

            <div class="img-container">
              <img style="width: 35px;height: 35px;" src="../../../assets/icons/malzeme-yonetimi/stok.png" alt="">
            </div>

            <span   class="button-label">Stok
            </span>

          </button>

          <button type="button" aria-expanded="false" data-bs-toggle="dropdown" class="btn topbar-button"  type="button">

            <div class="img-container">
              <img style="width: 35px;height: 35px;" src="../../../assets/icons/malzeme-yonetimi/depo.png" alt="">
            </div>

            <span  class="button-label">Depo <i
                class="fa-solid fa-sort-down sort-down-icon"></i>
            </span>

          </button>

          <ul class="dropdown-menu topbar-dropdown-menu" style="z-index: 9999;">
            <li [routerLink]="['/menu/malzeme-yonetimi/depo/list']"  type="button"><a class="dropdown-item yks-dropdown-item"
                style="color: #fbfbfb !important;">Depolar</a></li>
            <li [routerLink]="['/menu/malzeme-yonetimi/depo-bazinda-stok/list']"  type="button"><a
                class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Depo Bazında Stoklar</a></li>


          </ul>

          <button [routerLink]="['/menu/malzeme-yonetimi/hizmet/list']" [routerLinkActive]="['active']" type="button" type="button" class="btn topbar-button">

            <div class="img-container">
              <img style="width: 35px;height: 35px;" src="../../../assets/icons/malzeme-yonetimi/hizmet.png" alt="">
            </div>

            <span class="button-label">Hizmet
            </span>

          </button>

          <button [routerLink]="['/menu/malzeme-yonetimi/masraf/list']" [routerLinkActive]="['active']" type="button" type="button" class="btn topbar-button">

            <div class="img-container">
              <img style="width: 35px;height: 35px;" src="../../../assets/icons/malzeme-yonetimi/masraf.png" alt="">
            </div>

            <span  class="button-label">Masraf
            </span>

          </button>
          <button [routerLink]="['/menu/malzeme-yonetimi/birim/list']" [routerLinkActive]="['active']" type="button" type="button" class="btn topbar-button">

            <div class="img-container">
              <img style="width: 35px;height: 35px;" src="../../../assets/icons/malzeme-yonetimi/birim.png" alt="">
            </div>

            <span  class="button-label">Birim
            </span>

          </button>



        </div>

      </div>
      <div class="buton-grup-label">Listler</div>


    </div>

    <p-divider layout="vertical"></p-divider>

  </div>




  <!-- <div class="menu-button-container" style="height: 100%;display: flex;">
    <div style="position: relative;">



      <div class="btn-group " role="group" style="height: 100%;">
        <button [routerLink]="['/menu/malzeme-yonetimi/stok/list']" type="button"  class="btn topbar-button menu-button button-grup">

          <div class="img-container">
            <img src="../../../assets/icons/malzeme-yonetimi/stok.png" alt="">
          </div>

          <span class="button-label">Stok
          </span>
         
        </button>
      </div>

      <div class="btn-group " role="group" style="height: 100%;">
        <button type="button" class="btn topbar-button menu-button button-grup" aria-expanded="false"
          data-bs-toggle="dropdown">

          <div class="img-container">
            <img src="../../../assets/icons/malzeme-yonetimi/depo.png" alt="">
          </div>

          <span class="button-label">Depo <i class="fa-solid fa-sort-down sort-down-icon"></i></span>

        </button>
        <ul class="dropdown-menu topbar-dropdown-menu" style="z-index: 9999;">
          <li [routerLink]="['/menu/malzeme-yonetimi/depo/list']"><a class="dropdown-item yks-dropdown-item"
              style="color: #fbfbfb !important;">Depolar</a></li>
          <li [routerLink]="['/menu/malzeme-yonetimi/depo-bazinda-stok/list']"><a
              class="dropdown-item yks-dropdown-item" style="color: #fbfbfb !important;">Depo Bazında Stoklar</a></li>


        </ul>
      </div>

      <div class="btn-group " role="group" style="height: 100%;">
        <button type="button" class="btn topbar-button menu-button button-grup">

          <div class="img-container">
            <img src="../../../assets/icons/malzeme-yonetimi/hizmet.png" alt="">
          </div>

          <span class="button-label">Hizmet </span>
        </button>
      </div>

      <div class="btn-group " role="group" style="height: 100%;">
        <button type="button" class="btn topbar-button menu-button button-grup">

          <div class="img-container">
            <img src="../../../assets/icons/malzeme-yonetimi/masraf.png" alt="">
          </div>

          <span class="button-label">Masraf</span>
        </button>
      </div>


     <span style="position: absolute;
      bottom: 0;
      left: 0;
      height: 11px;
      font-size: 11px;
      color: #616161;
      background: gainsboro;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; z-index: 999;">Listeler </span>  


    </div>


    <p-divider layout="vertical"></p-divider>


  </div> -->



  <nav  class="breadcrumbs"></nav>


</nav>

<div class="card" style="margin: 10px; box-shadow: 1px 1px 1px 1px #e3e3e3;border: 1px solid #ddd;">
  <router-outlet></router-outlet>
</div>
