<nav class="top-bar" >
  <ul class="title-area" >
    <li class="name" [routerLink]="['/menu']">
      <i class="fa fa-home home-icon"></i>
    </li>


  </ul>

  <div role="group" style="display: grid; grid-template-columns: max-content max-content max-content;height: 100%; overflow-x: auto;">

    <div class="grid-container">
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/stok/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Stoklar
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/depo/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Depolar
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/birim/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Birimler
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/hizmet/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Hizmetler
        </button>
      </div>
      <div class="btn-group " role="group">
        <button [routerLink]="['/menu/malzeme-yonetimi/masraf/list']" type="button" class="btn yks-btn topbar-button">
          <i class="small fa fa-list btn-button-icon"></i>
          Masraflar
        </button>
      </div>
      

      <span class="top-footer">
        Listeler
      </span>
    </div>

    <p-divider layout="vertical"></p-divider>

  </div>

</nav>

<router-outlet></router-outlet>